# Importación de Librerías

## Importación de Librerías

### Importación de Librerías

Importación de Librerías

In [5]:
from sklearn.datasets import load_iris

In [6]:
import pandas as pd

# Carga del dataset iris

In [8]:
iris = load_iris()

In [9]:
iris

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'frame': None,
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n:Number of Instances: 150 (50 in each of three classes)\n:Number of Attributes: 4 numeric, predictive attributes and the class\n:Attribute Information:\n    - sepal length in cm\n    - sepal width in cm\n    - petal length in cm\n    - petal width in cm\n    - class:\n            - Iris-Setosa\n            - Iris-Versicolour\n            - Iris-Virginica\n\n:Summary Statistics:\n\n============== ==== ==== ======= ===== ====================\n                Min  Max   Mean    SD   Class Correlation\n============== ==== ==== ======= ===== ====================\nsepal length:   4.3  7.9   5.84   0.83    0.7826\nsepal width:    2.0  4.4   3.05   0.43   -0.4194\npetal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\npetal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n============== ==== ==== ======= ===== ====================\n\n:Missing Attribute Values: None\n:Class Distribution: 33.3% for each of 3 classes.\n:Creator: R.A. Fisher\n:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n:Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n|details-start|\n**References**\n|details-split|\n\n- Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n  Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n  Mathematical Statistics" (John Wiley, NY, 1950).\n- Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n  (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n- Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n  Structure and Classification Rule for Recognition in Partially Exposed\n  Environments".  IEEE Transactions on Pattern Analysis and Machine\n  Intelligence, Vol. PAMI-2, No. 1, 67-71.\n- Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n  on Information Theory, May 1972, 431-433.\n- See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n  conceptual clustering system finds 3 classes in the data.\n- Many, many more ...\n\n|details-end|\n',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'iris.csv',
 'data_module': 'sklearn.datasets.data'}

In [10]:
iris.data

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [11]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

# Creación de un DataFrame de Pandas

In [13]:
df = pd.DataFrame(data=iris.data, columns=iris.feature_names) 

df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

# Agregamos la columna especie (variable Categórica)

In [15]:
df['sepal length (cm)'] # Si quiero observar una columna ya creada

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal length (cm), Length: 150, dtype: float64

In [16]:
df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names) # Creo una columna nueva

In [17]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

# Contar la cantidad y calcular la frecuencia porcentual

## Ejemplo con cada especie

In [20]:
species_count = df['species'].value_counts()

species_count

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [21]:
# Calculamos la frecuencia porcentual de cada especie:

species_porcent = df['species'].value_counts(normalize=True)

species_porcent

species
setosa        0.333333
versicolor    0.333333
virginica     0.333333
Name: proportion, dtype: float64

In [22]:
# Calculamos la frecuencia porcentual de cada especie * 100:

species_porcent = df['species'].value_counts(normalize=True) * 100

species_porcent

species
setosa        33.333333
versicolor    33.333333
virginica     33.333333
Name: proportion, dtype: float64

## Ejemplo con un vector

In [24]:
# Contamos las frecuencias de los valores de un vector

vec = pd.Series([1,1,1,0,0,3,3,3,2])

In [25]:
vec_counts = vec.value_counts()

vec_counts

1    3
3    3
0    2
2    1
Name: count, dtype: int64

In [26]:
# Calculamos las frecuencias porcentuales del vector:

vec_porcent = vec.value_counts(normalize=True)

vec_porcent

1    0.333333
3    0.333333
0    0.222222
2    0.111111
Name: proportion, dtype: float64

# Medidas de Tendencia Central

# Moda

## Ejemplo con un vector

In [30]:
vec = pd.Series([1,1,1,0,0,3,3,3,2])
mode_vec = vec.mode()

mode_vec

0    1
1    3
dtype: int64

In [31]:
vec_2 = pd.Series([1,1,1,1,0,0,3,3,3,2])
mode_vec_2 = vec_2.mode()

mode_vec_2

0    1
dtype: int64

In [32]:
type(mode_vec)

pandas.core.series.Series

### Podemos pasar la Serie a un arreglo de Numpy:

In [34]:
vec = pd.Series([1,1,1,0,0,3,3,3,2])
mode_vec = vec.mode().values

mode_vec

array([1, 3], dtype=int64)

In [35]:
type(mode_vec)

numpy.ndarray

## Ejemplo con una columna del dataset Iris

In [37]:
mode_sepal_length = df['sepal length (cm)'].mode()

mode_sepal_length

0    5.0
Name: sepal length (cm), dtype: float64

## Media

In [39]:
mean_sepal_length = df['sepal length (cm)'].mean()

mean_sepal_length

5.843333333333334

### Ejemplo con un vector

In [41]:
# Importamos la librería Numpy
import numpy as np

In [42]:
# Generamos un vector aleatorio con media 20 y desviación estándar 10

vec = np.random.normal(20, 10, 10) # El 3er atributo indica la cantidad de elementos del vector

np.mean(vec) # Este es el método para calcular la media utilizando Numpy

22.79651517024206

In [43]:
# Generamos un vector aleatorio que representará un outlier con media 300 y desviación estándar 100

vec_2 = np.random.normal(300, 100, 1)

In [44]:
# Añadimos el valor atípico (ruido/outlier) al 1er vector creado

vec_ruid = np.append(vec, vec_2)

In [45]:
np.mean(vec_ruid)

43.85010378517609

## Media Truncada

In [47]:
from scipy.stats import trim_mean # importamos el método trim_mean

### Ejemplo con un vector

In [49]:
# A través de la media truncada no considero el 10% (en este caso) superior e inferior del conjunto de datos analizados

mean_trimmed_vec = trim_mean(vec, 0.1)
mean_trimmed_vec_ruid = trim_mean(vec_ruid, 0.1)

print(mean_trimmed_vec)
print(mean_trimmed_vec_ruid) # Podemos observar en su salida que es mucho más robusto ante los outliers

23.737364350920693
24.72242964049726

### Ejemplo con una columna del dataset Iris

In [51]:
mean_trimmed_sepal_length = trim_mean(df['sepal length (cm)'], 0.1)

mean_trimmed_sepal_length

5.8083333333333345

## Mediana

### Ejemplo para un vector

In [54]:
median_vec = np.median(vec)
median_vec_ruid = np.median(vec_ruid)

print(median_vec)
print(median_vec_ruid) # Podemos observar en su salida que es mucho más robusto ante los outliers que la media

22.087063146869497
22.88505396814965

### Ejemplo con una columna del dataset Iris

In [56]:
median_sepal_length = df['sepal length (cm)'].median()

median_sepal_length

5.8

# Percentiles o Cuantiles

In [98]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [102]:
df.shape  # mediante este atributo puedo analizar de esta manera las dimensiones de mi dataFrame

(150, 5)

In [108]:
percentiles = df["sepal length (cm)"].quantile([i/100 for i in range(101)])

In [110]:
print("Percentiles del 0% al 100%: ")
print(percentiles)

Percentiles del 0% al 100%:
0.00    4.300
0.01    4.400
0.02    4.400
0.03    4.547
0.04    4.600
        ...
0.96    7.408
0.97    7.653
0.98    7.700
0.99    7.700
1.00    7.900
Name: sepal length (cm), Length: 101, dtype: float64

In [114]:
# Calculamos los cuartiles específicos (25%, 50%, 75%)
cuartiles = df["sepal length (cm)"].quantile([0.25, 0.5, 0.75])
print("Cuartiles: ")
print(cuartiles)

Cuartiles:
0.25    5.1
0.50    5.8
0.75    6.4
Name: sepal length (cm), dtype: float64

In [ ]:
# Calculamos los cuartiles específicos (25%, 50%, 75%)
cuartiles = df["sepal length (cm)"].quantile([0.25, 0.5, 0.75])
print("Cuartiles: ")
print(cuartiles)

In [116]:
# Calculamos los percentiles (0%-mínimo, 25%, 50%-mediana, 75%, 100%-máximo)
percentiles_comunes = df["sepal length (cm)"].quantile([0, 0.25, 0.5, 0.75, 1])
print("Percentiles 0%, 25%, 50%, 75% y 100%: ")
print(percentiles_comunes)

Percentiles 0%, 25%, 50%, 75% y 100%:
0.00    4.3
0.25    5.1
0.50    5.8
0.75    6.4
1.00    7.9
Name: sepal length (cm), dtype: float64

## Ver el DF o Serie (sólo el head y tail)

In [119]:
percentiles

0.00    4.300
0.01    4.400
0.02    4.400
0.03    4.547
0.04    4.600
        ...
0.96    7.408
0.97    7.653
0.98    7.700
0.99    7.700
1.00    7.900
Name: sepal length (cm), Length: 101, dtype: float64

## Primera Opción para ver el DF o Serie completa

In [123]:
print(percentiles.to_string())

0.00    4.300
0.01    4.400
0.02    4.400
0.03    4.547
0.04    4.600
0.05    4.600
0.06    4.694
0.07    4.743
0.08    4.800
0.09    4.800
0.10    4.800
0.11    4.900
0.12    4.900
0.13    4.900
0.14    4.900
0.15    5.000
0.16    5.000
0.17    5.000
0.18    5.000
0.19    5.000
0.20    5.000
0.21    5.029
0.22    5.100
0.23    5.100
0.24    5.100
0.25    5.100
0.26    5.100
0.27    5.123
0.28    5.200
0.29    5.200
0.30    5.270
0.31    5.400
0.32    5.400
0.33    5.400
0.34    5.400
0.35    5.500
0.36    5.500
0.37    5.500
0.38    5.500
0.39    5.511
0.40    5.600
0.41    5.600
0.42    5.600
0.43    5.607
0.44    5.700
0.45    5.700
0.46    5.700
0.47    5.700
0.48    5.700
0.49    5.800
0.50    5.800
0.51    5.800
0.52    5.800
0.53    5.800
0.54    5.900
0.55    5.900
0.56    6.000
0.57    6.000
0.58    6.000
0.59    6.000
0.60    6.100
0.61    6.100
0.62    6.100
0.63    6.100
0.64    6.200
0.65    6.200
0.66    6.234
0.67    6.300
0.68    6.300
0.69    6.300
0.70    6.300
0.71    6.300
0.72    6.328
0.73    6.400
0.74    6.400
0.75    6.400
0.76    6.400
0.77    6.473
0.78    6.500
0.79    6.500
0.80    6.520
0.81    6.600
0.82    6.700
0.83    6.700
0.84    6.700
0.85    6.700
0.86    6.700
0.87    6.763
0.88    6.800
0.89    6.861
0.90    6.900
0.91    6.900
0.92    7.008
0.93    7.157
0.94    7.200
0.95    7.255
0.96    7.408
0.97    7.653
0.98    7.700
0.99    7.700
1.00    7.900

## Segunda Opción para ver el DF o Serie completa (cambio la configuración de Pandas)

In [127]:
pd.set_option('display.max_rows', None)

In [129]:
percentiles

0.00    4.300
0.01    4.400
0.02    4.400
0.03    4.547
0.04    4.600
0.05    4.600
0.06    4.694
0.07    4.743
0.08    4.800
0.09    4.800
0.10    4.800
0.11    4.900
0.12    4.900
0.13    4.900
0.14    4.900
0.15    5.000
0.16    5.000
0.17    5.000
0.18    5.000
0.19    5.000
0.20    5.000
0.21    5.029
0.22    5.100
0.23    5.100
0.24    5.100
0.25    5.100
0.26    5.100
0.27    5.123
0.28    5.200
0.29    5.200
0.30    5.270
0.31    5.400
0.32    5.400
0.33    5.400
0.34    5.400
0.35    5.500
0.36    5.500
0.37    5.500
0.38    5.500
0.39    5.511
0.40    5.600
0.41    5.600
0.42    5.600
0.43    5.607
0.44    5.700
0.45    5.700
0.46    5.700
0.47    5.700
0.48    5.700
0.49    5.800
0.50    5.800
0.51    5.800
0.52    5.800
0.53    5.800
0.54    5.900
0.55    5.900
0.56    6.000
0.57    6.000
0.58    6.000
0.59    6.000
0.60    6.100
0.61    6.100
0.62    6.100
0.63    6.100
0.64    6.200
0.65    6.200
0.66    6.234
0.67    6.300
0.68    6.300
0.69    6.300
0.70    6.300
0.71    6.300
0.72    6.328
0.73    6.400
0.74    6.400
0.75    6.400
0.76    6.400
0.77    6.473
0.78    6.500
0.79    6.500
0.80    6.520
0.81    6.600
0.82    6.700
0.83    6.700
0.84    6.700
0.85    6.700
0.86    6.700
0.87    6.763
0.88    6.800
0.89    6.861
0.90    6.900
0.91    6.900
0.92    7.008
0.93    7.157
0.94    7.200
0.95    7.255
0.96    7.408
0.97    7.653
0.98    7.700
0.99    7.700
1.00    7.900
Name: sepal length (cm), dtype: float64

## Cómo volver a la configuración por defecto de Pandas

In [132]:
pd.reset_option('display.max_rows')

In [134]:
percentiles

0.00    4.300
0.01    4.400
0.02    4.400
0.03    4.547
0.04    4.600
        ...
0.96    7.408
0.97    7.653
0.98    7.700
0.99    7.700
1.00    7.900
Name: sepal length (cm), Length: 101, dtype: float64

In [136]:
perc_min = percentiles.min()
perc_min

4.3

In [138]:
perc_max = percentiles.max()
perc_max

7.9

In [140]:
perc_mediana = percentiles.median()
perc_mediana

5.8

# Resumimos un DataFrame

## Para variables numéricas

In [146]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

## Para variables categóricas

In [157]:
df['species'].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

## Resumen tanto para variables numéricas como categóricas

In [160]:
df.describe(include = 'all')

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
count,150.000000,150.000000,150.000000,150.000000,150
unique,NaN,NaN,NaN,NaN,3
top,NaN,NaN,NaN,NaN,setosa
freq,NaN,NaN,NaN,NaN,50
mean,5.843333,3.057333,3.758000,1.199333,NaN
std,0.828066,0.435866,1.765298,0.762238,NaN
min,4.300000,2.000000,1.000000,0.100000,NaN
25%,5.100000,2.800000,1.600000,0.300000,NaN
50%,5.800000,3.000000,4.350000,1.300000,NaN
75%,6.400000,3.300000,5.100000,1.800000,NaN
max,7.900000,4.400000,6.900000,2.500000,NaN

## Resumen por Especie (agrupamos por especie) y lo aplicamos a cada uno de los atributos del DF

In [167]:
resumen_1 = df.groupby('species', observed = False)['sepal length (cm)'].describe()

In [169]:
resumen_1

            count   mean       std  min    25%  50%  75%  max
species
setosa       50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
versicolor   50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
virginica    50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

In [171]:
resumen_2 = df.groupby('species', observed = False)['sepal width (cm)'].describe()

In [173]:
resumen_2

            count   mean       std  min    25%  50%    75%  max
species
setosa       50.0  3.428  0.379064  2.3  3.200  3.4  3.675  4.4
versicolor   50.0  2.770  0.313798  2.0  2.525  2.8  3.000  3.4
virginica    50.0  2.974  0.322497  2.2  2.800  3.0  3.175  3.8

In [177]:
resumen_3 = df.groupby('species', observed = False)['petal length (cm)'].describe()

In [179]:
resumen_3

            count   mean       std  min  25%   50%    75%  max
species
setosa       50.0  1.462  0.173664  1.0  1.4  1.50  1.575  1.9
versicolor   50.0  4.260  0.469911  3.0  4.0  4.35  4.600  5.1
virginica    50.0  5.552  0.551895  4.5  5.1  5.55  5.875  6.9

In [183]:
resumen_4 = df.groupby('species', observed = False)['petal width (cm)'].describe()

In [185]:
resumen_4

            count   mean       std  min  25%  50%  75%  max
species
setosa       50.0  0.246  0.105386  0.1  0.2  0.2  0.3  0.6
versicolor   50.0  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
virginica    50.0  2.026  0.274650  1.4  1.8  2.0  2.3  2.5

## Media por Especie

In [188]:
media_petal_width = df.groupby('species', observed = False)['petal width (cm)'].mean()
media_petal_width

species
setosa        0.246
versicolor    1.326
virginica     2.026
Name: petal width (cm), dtype: float64

In [190]:
media_petal_length = df.groupby('species', observed = False)['petal length (cm)'].mean()
media_petal_length

species
setosa        1.462
versicolor    4.260
virginica     5.552
Name: petal length (cm), dtype: float64

# Medidas de Dispersión

## Rango (con Pandas)

In [198]:
rango_1 = df['petal width (cm)'].max() - df['petal width (cm)'].min()

rango_1

2.4

In [200]:
rango_2 = df['petal length (cm)'].max() - df['petal length (cm)'].min()

rango_2

5.9

## Rango (con funciones de Python)

In [208]:
rango_1 = max(df['petal width (cm)']) - min(df['petal width (cm)'])

rango_1

2.4

In [210]:
rango_2 = max(df['petal length (cm)']) - min(df['petal length (cm)'])

rango_2

5.9

## Varianza

In [215]:
var = df['petal length (cm)'].var()
var

3.1162778523489942

## Desviación Estándar

In [220]:
std_dev_1 = df['petal length (cm)'].std()
std_dev_1

1.7652982332594667

In [222]:
std_dev_2 = var ** 0.5
std_dev_2

1.7652982332594667

In [224]:
std_dev_3 = np.sqrt(var)  # mediante una función de Numpy (debe importarse Numpy previamente)
std_dev_3

1.7652982332594667

## Rango Intercuartil (IQR)

In [229]:
Q1 = df['petal length (cm)'].quantile(0.25)
Q3 = df['petal length (cm)'].quantile(0.75)

In [233]:
IQR = Q3 - Q1
IQR

3.4999999999999996

# Estadísticas de Resumen Multivariadas

## Covarianza

### Con Numpy

In [251]:
covarianza_np = np.cov(df['petal length (cm)'], df['petal width (cm)'])
covarianza_np

array([[3.11627785, 1.2956094 ],
       [1.2956094 , 0.58100626]])

### Con Pandas

In [257]:
# Obtenemos directamente el valor de covarianza entre los atributos seleccionados

covarianza_pd = df['petal length (cm)'].cov(df['petal width (cm)'])
covarianza_pd

1.2956093959731547

In [263]:
# Obtenemos el valor de covarianza en formato DataFrame (excluyendo la columna 'species')

covarianza_pd_df = df.iloc[:,:-1].cov()
covarianza_pd_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
sepal length (cm),0.685694,-0.042434,1.274315,0.516271
sepal width (cm),-0.042434,0.189979,-0.329656,-0.121639
petal length (cm),1.274315,-0.329656,3.116278,1.295609
petal width (cm),0.516271,-0.121639,1.295609,0.581006

In [265]:
type(covarianza_pd_df)

pandas.core.frame.DataFrame

## Correlación

In [270]:
# Obtenemos el valor de correlación en formato DataFrame (excluyendo la columna 'species')

correlacion_pd_df = df.iloc[:,:-1].corr()
correlacion_pd_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
sepal length (cm),1.000000,-0.117570,0.871754,0.817941
sepal width (cm),-0.117570,1.000000,-0.428440,-0.366126
petal length (cm),0.871754,-0.428440,1.000000,0.962865
petal width (cm),0.817941,-0.366126,0.962865,1.000000

## Tabla de Contingencia

In [275]:
sexo = ["Hombre", "Mujer", "Mujer", "Hombre", "Hombre", "Mujer", "Mujer"]

In [277]:
type(sexo)

list

In [279]:
len(sexo)

7

In [283]:
estudios = ["Universitario", "Posgrado", "Secundario", "Secundario", "Universitario", "Secundario", "Posgrado"]

In [285]:
type(estudios)

list

In [287]:
len(estudios)

7

In [289]:
serie_sexo = pd.Series(sexo)

In [291]:
type(serie_sexo)

pandas.core.series.Series

In [293]:
serie_estudios = pd.Series(estudios)

In [295]:
type(serie_estudios)

pandas.core.series.Series

In [299]:
tabla_contingencia = pd.crosstab(serie_sexo, serie_estudios)
tabla_contingencia

col_0   Posgrado  Secundario  Universitario
row_0
Hombre         0           1              2
Mujer          2           2              0

In [307]:
serie_sexo_2 = pd.Series(sexo, name="Sexo")
serie_sexo_2

0    Hombre
1     Mujer
2     Mujer
3    Hombre
4    Hombre
5     Mujer
6     Mujer
Name: Sexo, dtype: object

In [309]:
serie_estudios_2 = pd.Series(estudios, name="Estudios")
serie_estudios_2

0    Universitario
1         Posgrado
2       Secundario
3       Secundario
4    Universitario
5       Secundario
6         Posgrado
Name: Estudios, dtype: object

In [311]:
# Colocamos nombres a las filas y columnas del DF

tabla_contingencia_2 = pd.crosstab(serie_sexo_2, serie_estudios_2)
tabla_contingencia_2

Estudios  Posgrado  Secundario  Universitario
Sexo
Hombre           0           1              2
Mujer            2           2              0