## Ejercicio 1: Análisis del Dataset Iris

**Objetivo**: Realizar un análisis exhaustivo del dataset Iris utilizando las técnicas vistas.

### Instrucciones:
1. **Medidas de Frecuencia**:
   - Calcula la frecuencia de cada especie en el dataset Iris.
   - Calcula las frecuencias porcentuales.

2. **Medidas de Tendencia Central**:
   - Calcula la media, mediana y moda de las variables `sepal length (cm)` y `petal length (cm)`.

3. **Medidas de Dispersión**:
   - Calcula la desviación estándar, varianza, rango y rango intercuartil (IQR) de las variables `sepal width (cm)` y `petal width (cm)`.

4. **Percentiles y Cuartiles**:
   - Calcula los percentiles 25, 50 (mediana) y 75 para `sepal length (cm)`.

5. **Resumen Estadístico**:
   - Realiza un resumen estadístico de todo el DataFrame.
   - Realiza un resumen estadístico separado para cada especie considerando las cuatro variables del DataFrame.

6. **Covarianza y Correlación**:
   - Calcula la covarianza entre `sepal length (cm)` y `petal length (cm)`.
   - Calcula la correlación entre `sepal length (cm)` y `petal length (cm)`.

In [17]:
%pip install pandas

%pip install scikit-learn

Requirement already satisfied: pandas in c:\users\marti\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\marti\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\marti\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\marti\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\marti\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\marti\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: scikit-learn in c:\users\marti\appdata\local\programs\python\python312\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\marti\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\marti\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\marti\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\marti\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [18]:
import pandas as pd

from sklearn.datasets import load_iris

iris = load_iris()

df = pd.DataFrame(data=iris.data, columns=iris.feature_names) 

df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)

In [19]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [20]:
species_count = df['species'].value_counts()

species_count

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [21]:
species_porcent = df['species'].value_counts(normalize=True)

species_porcent

species
setosa        0.333333
versicolor    0.333333
virginica     0.333333
Name: proportion, dtype: float64

In [22]:
print(df["sepal length (cm)"].mean())

print(df["sepal length (cm)"].median())

print(df["sepal length (cm)"].mode())

print(df["petal length (cm)"].mean())

print(df["petal length (cm)"].median())

print(df["petal length (cm)"].mode())

5.843333333333334
5.8
0    5.0
Name: sepal length (cm), dtype: float64
3.7580000000000005
4.35
0    1.4
1    1.5
Name: petal length (cm), dtype: float64

In [23]:
print(df["petal width (cm)"].std())

print(df["petal width (cm)"].var())

min_petal_width = df["petal width (cm)"].min()

max_petal_width = df["petal width (cm)"].max()

print(max_petal_width - min_petal_width)

Q1_petal_width = df['petal width (cm)'].quantile(0.25)
Q3_petal_width = df['petal width (cm)'].quantile(0.75)

print(Q3_petal_width  - Q1_petal_width )

0.7622376689603465
0.5810062639821029
2.4
1.5

In [24]:
cuartiles = df["sepal length (cm)"].quantile([0.25, 0.5, 0.75])
print("Cuartiles: ")
print(cuartiles)

Cuartiles:
0.25    5.1
0.50    5.8
0.75    6.4
Name: sepal length (cm), dtype: float64

In [25]:
print(df.describe())

print(df['species'].value_counts())

       sepal length (cm)  sepal width (cm)  petal length (cm)  \
count         150.000000        150.000000         150.000000
mean            5.843333          3.057333           3.758000
std             0.828066          0.435866           1.765298
min             4.300000          2.000000           1.000000
25%             5.100000          2.800000           1.600000
50%             5.800000          3.000000           4.350000
75%             6.400000          3.300000           5.100000
max             7.900000          4.400000           6.900000

       petal width (cm)
count        150.000000
mean           1.199333
std            0.762238
min            0.100000
25%            0.300000
50%            1.300000
75%            1.800000
max            2.500000
species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [44]:
df.groupby('species', observed = False)['sepal length (cm)'].describe()

            count   mean       std  min    25%  50%  75%  max
species
setosa       50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
versicolor   50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
virginica    50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

In [ ]:
df.groupby('species', observed = False)['petal length (cm)'].describe()

            count   mean       std  min  25%   50%    75%  max
species
setosa       50.0  1.462  0.173664  1.0  1.4  1.50  1.575  1.9
versicolor   50.0  4.260  0.469911  3.0  4.0  4.35  4.600  5.1
virginica    50.0  5.552  0.551895  4.5  5.1  5.55  5.875  6.9

In [46]:
df.groupby('species', observed = False)['sepal width (cm)'].describe()

            count   mean       std  min    25%  50%    75%  max
species
setosa       50.0  3.428  0.379064  2.3  3.200  3.4  3.675  4.4
versicolor   50.0  2.770  0.313798  2.0  2.525  2.8  3.000  3.4
virginica    50.0  2.974  0.322497  2.2  2.800  3.0  3.175  3.8

In [47]:
df.groupby('species', observed = False)['petal width (cm)'].describe()

            count   mean       std  min  25%  50%  75%  max
species
setosa       50.0  0.246  0.105386  0.1  0.2  0.2  0.3  0.6
versicolor   50.0  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
virginica    50.0  2.026  0.274650  1.4  1.8  2.0  2.3  2.5

In [49]:
print(df['sepal length (cm)'].cov(df['petal length (cm)']))

print(df['sepal length (cm)'].corr(df['petal length (cm)']))

1.2743154362416105
0.8717537758865829

## Ejercicio 2: Análisis del Dataset Titanic

**Objetivo**: Aplicar las técnicas de análisis exploratorio para investigar las características de los pasajeros del Titanic.

**Nota**: Deberá cargar el dataset de la siguiente manera: 

import seaborn as sns

import pandas as pd

import numpy as np

*# Cargar el dataset Titanic de seaborn*

titanic = sns.load_dataset('titanic')

### Instrucciones:
1. **Medidas de Frecuencia**:
   - Calcula la frecuencia de los pasajeros por clase (`Pclass`) y por sexo (`Sex`).
   - Calcula también la frecuencia de supervivencia (`Survived`).
   - Calcula las frecuencias porcentuales.

2. **Medidas de Tendencia Central**:
   - Calcula la media, mediana y moda de las edades (`Age`).
   - Calcula también la media de las tarifas (`Fare`) solo para los pasajeros de primera clase (`Pclass == 1`).

3. **Medidas de Dispersión**:
   - Calcula la desviación estándar, varianza, rango y rango intercuartil (IQR) de las tarifas (`Fare`).
   - Calcula el rango intercuartil (IQR) de las edades (`Age`) para los sobrevivientes (`Survived == 1`).

4. **Percentiles y Cuartiles**:
   - En lugar de solo calcular percentiles específicos, calcula todos los percentiles (0-100) para las tarifas (`Fare`).

5. **Resumen Estadístico**:
   - Realiza un resumen estadístico de todo el DataFrame.
   - Realiza un resumen estadístico separado para los sobrevivientes (`Survived == 1`) y para los que no sobrevivieron (`Survived == 0`) considerando en principio su clase (`Pclass`) y otro resumen separado para los sobrevivientes (`Survived == 1`) y para los que no sobrevivieron (`Survived == 0`) considerando su sexo (`Sex`).

6. **Covarianza y Correlación**:
   - Calcula la covarianza entre la edad (`Age`) y la tarifa (`Fare`).
   - Calcula la matriz de correlación para las variables numéricas del dataset.

7. **Tablas de Contingencia**:
   - Calcula una tabla de contingencia entre `Pclass` y `Survived`.