## Ejercicio 1: Análisis del Dataset Iris

**Objetivo**: Realizar un análisis exhaustivo del dataset Iris utilizando las técnicas vistas.

### Instrucciones:
1. **Medidas de Frecuencia**:
   - Calcula la frecuencia de cada especie en el dataset Iris.
   - Calcula las frecuencias porcentuales.

2. **Medidas de Tendencia Central**:
   - Calcula la media, mediana y moda de las variables `sepal length (cm)` y `petal length (cm)`.

3. **Medidas de Dispersión**:
   - Calcula la desviación estándar, varianza, rango y rango intercuartil (IQR) de las variables `sepal width (cm)` y `petal width (cm)`.

4. **Percentiles y Cuartiles**:
   - Calcula los percentiles 25, 50 (mediana) y 75 para `sepal length (cm)`.

5. **Resumen Estadístico**:
   - Realiza un resumen estadístico de todo el DataFrame.
   - Realiza un resumen estadístico separado para cada especie considerando las cuatro variables del DataFrame.

6. **Covarianza y Correlación**:
   - Calcula la covarianza entre `sepal length (cm)` y `petal length (cm)`.
   - Calcula la correlación entre `sepal length (cm)` y `petal length (cm)`.

In [ ]:
%pip install pandas scikit-learn

Requirement already satisfied: pandas in c:\users\marti\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\marti\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\marti\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\marti\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\marti\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\marti\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: scikit-learn in c:\users\marti\appdata\local\programs\python\python312\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\marti\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\marti\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\marti\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\marti\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import pandas as pd

from sklearn.datasets import load_iris

iris = load_iris()

df = pd.DataFrame(data=iris.data, columns=iris.feature_names)

df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)

In [ ]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [ ]:
species_count = df['species'].value_counts()

species_count

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [ ]:
species_porcent = df['species'].value_counts(normalize=True)

species_porcent

species
setosa        0.333333
versicolor    0.333333
virginica     0.333333
Name: proportion, dtype: float64

In [ ]:
print(df["sepal length (cm)"].mean())

print(df["sepal length (cm)"].median())

print(df["sepal length (cm)"].mode())

print(df["petal length (cm)"].mean())

print(df["petal length (cm)"].median())

print(df["petal length (cm)"].mode())

5.843333333333334
5.8
0    5.0
Name: sepal length (cm), dtype: float64
3.7580000000000005
4.35
0    1.4
1    1.5
Name: petal length (cm), dtype: float64

In [ ]:
print(df["petal width (cm)"].std())

print(df["petal width (cm)"].var())

min_petal_width = df["petal width (cm)"].min()

max_petal_width = df["petal width (cm)"].max()

print(max_petal_width - min_petal_width)

Q1_petal_width = df['petal width (cm)'].quantile(0.25)
Q3_petal_width = df['petal width (cm)'].quantile(0.75)

print(Q3_petal_width  - Q1_petal_width )

0.7622376689603465
0.5810062639821029
2.4
1.5

In [ ]:
cuartiles = df["sepal length (cm)"].quantile([0.25, 0.5, 0.75])
print("Cuartiles: ")
print(cuartiles)

Cuartiles:
0.25    5.1
0.50    5.8
0.75    6.4
Name: sepal length (cm), dtype: float64

In [ ]:
print(df.describe())

print(df['species'].value_counts())

       sepal length (cm)  sepal width (cm)  petal length (cm)  \
count         150.000000        150.000000         150.000000
mean            5.843333          3.057333           3.758000
std             0.828066          0.435866           1.765298
min             4.300000          2.000000           1.000000
25%             5.100000          2.800000           1.600000
50%             5.800000          3.000000           4.350000
75%             6.400000          3.300000           5.100000
max             7.900000          4.400000           6.900000

       petal width (cm)
count        150.000000
mean           1.199333
std            0.762238
min            0.100000
25%            0.300000
50%            1.300000
75%            1.800000
max            2.500000
species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [ ]:
df.groupby('species', observed = False)['sepal length (cm)'].describe()

            count   mean       std  min    25%  50%  75%  max
species
setosa       50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
versicolor   50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
virginica    50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

In [ ]:
df.groupby('species', observed = False)['petal length (cm)'].describe()

            count   mean       std  min  25%   50%    75%  max
species
setosa       50.0  1.462  0.173664  1.0  1.4  1.50  1.575  1.9
versicolor   50.0  4.260  0.469911  3.0  4.0  4.35  4.600  5.1
virginica    50.0  5.552  0.551895  4.5  5.1  5.55  5.875  6.9

In [ ]:
df.groupby('species', observed = False)['sepal width (cm)'].describe()

            count   mean       std  min    25%  50%    75%  max
species
setosa       50.0  3.428  0.379064  2.3  3.200  3.4  3.675  4.4
versicolor   50.0  2.770  0.313798  2.0  2.525  2.8  3.000  3.4
virginica    50.0  2.974  0.322497  2.2  2.800  3.0  3.175  3.8

In [ ]:
df.groupby('species', observed = False)['petal width (cm)'].describe()

            count   mean       std  min  25%  50%  75%  max
species
setosa       50.0  0.246  0.105386  0.1  0.2  0.2  0.3  0.6
versicolor   50.0  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
virginica    50.0  2.026  0.274650  1.4  1.8  2.0  2.3  2.5

In [ ]:
print(df['sepal length (cm)'].cov(df['petal length (cm)']))

print(df['sepal length (cm)'].corr(df['petal length (cm)']))

1.2743154362416105
0.8717537758865829

## Ejercicio 2: Análisis del Dataset Titanic

**Objetivo**: Aplicar las técnicas de análisis exploratorio para investigar las características de los pasajeros del Titanic.

**Nota**: Deberá cargar el dataset de la siguiente manera:

import seaborn as sns

import pandas as pd

import numpy as np

*# Cargar el dataset Titanic de seaborn*

titanic = sns.load_dataset('titanic')

### Instrucciones:
1. **Medidas de Frecuencia**:
   - Calcula la frecuencia de los pasajeros por clase (`Pclass`) y por sexo (`Sex`).
   - Calcula también la frecuencia de supervivencia (`Survived`).
   - Calcula las frecuencias porcentuales.

2. **Medidas de Tendencia Central**:
   - Calcula la media, mediana y moda de las edades (`Age`).
   - Calcula también la media de las tarifas (`Fare`) solo para los pasajeros de primera clase (`Pclass == 1`).

3. **Medidas de Dispersión**:
   - Calcula la desviación estándar, varianza, rango y rango intercuartil (IQR) de las tarifas (`Fare`).
   - Calcula el rango intercuartil (IQR) de las edades (`Age`) para los sobrevivientes (`Survived == 1`).

4. **Percentiles y Cuartiles**:
   - En lugar de solo calcular percentiles específicos, calcula todos los percentiles (0-100) para las tarifas (`Fare`).

5. **Resumen Estadístico**:
   - Realiza un resumen estadístico de todo el DataFrame.
   - Realiza un resumen estadístico separado para los sobrevivientes (`Survived == 1`) y para los que no sobrevivieron (`Survived == 0`) considerando en principio su clase (`Pclass`) y otro resumen separado para los sobrevivientes (`Survived == 1`) y para los que no sobrevivieron (`Survived == 0`) considerando su sexo (`Sex`).

6. **Covarianza y Correlación**:
   - Calcula la covarianza entre la edad (`Age`) y la tarifa (`Fare`).
   - Calcula la matriz de correlación para las variables numéricas del dataset.

7. **Tablas de Contingencia**:
   - Calcula una tabla de contingencia entre `Pclass` y `Survived`.

In [ ]:
%pip install seaborn pandas numpy

Requirement already satisfied: seaborn in /usr/local/lib/python3.11/dist-packages (0.13.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (2.0.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /usr/local/lib/python3.11/dist-packages (from seaborn) (3.10.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import seaborn as sns

import pandas as pd

import numpy as np

# Cargar el dataset Titanic de seaborn

titanic = sns.load_dataset('titanic')

titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [3]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [ ]:
print(titanic["pclass"].value_counts())

print(titanic["sex"].value_counts())

print(titanic["survived"].value_counts())

print(titanic["pclass"].value_counts(normalize = True))

print(titanic["sex"].value_counts(normalize = True))

print(titanic["survived"].value_counts(normalize = True))

pclass
3    491
1    216
2    184
Name: count, dtype: int64
sex
male      577
female    314
Name: count, dtype: int64
survived
0    549
1    342
Name: count, dtype: int64
pclass
3    0.551066
1    0.242424
2    0.206510
Name: proportion, dtype: float64
sex
male      0.647587
female    0.352413
Name: proportion, dtype: float64
survived
0    0.616162
1    0.383838
Name: proportion, dtype: float64

In [ ]:
print(titanic['age'].mean())

print(titanic['age'].median())

print(titanic['age'].mode())

print(titanic[titanic['pclass'] == 1]['fare'].mean())

29.69911764705882
28.0
0    24.0
Name: age, dtype: float64
84.1546875

In [ ]:
print(titanic['fare'].std())

print(titanic['fare'].var())

print(titanic['fare'].max() - titanic['fare'].min())

print(titanic['fare'].quantile(0.75) - titanic['fare'].quantile(0.25))

print(titanic[titanic['survived'] == 1]['age'].quantile(0.75) - titanic[titanic['survived'] == 1]['age'].quantile(0.25))

49.693428597180905
2469.436845743117
512.3292
23.0896
17.0

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
titanic['fare'].quantile([i/100 for i in range(101)])

0.00      0.00000
0.01      0.00000
0.02      6.39750
0.03      6.97500
0.04      7.05252
0.05      7.22500
0.06      7.22500
0.07      7.22920
0.08      7.25000
0.09      7.25000
0.10      7.55000
0.11      7.72878
0.12      7.75000
0.13      7.75000
0.14      7.75000
0.15      7.75000
0.16      7.77500
0.17      7.77500
0.18      7.79580
0.19      7.85420
0.20      7.85420
0.21      7.89580
0.22      7.89580
0.23      7.89580
0.24      7.89580
0.25      7.91040
0.26      7.92500
0.27      7.95626
0.28      8.05000
0.29      8.05000
0.30      8.05000
0.31      8.05000
0.32      8.10000
0.33      8.61295
0.34      8.66250
0.35      9.00000
0.36      9.50000
0.37      9.58750
0.38     10.47000
0.39     10.50000
0.40     10.50000
0.41     11.13330
0.42     12.22000
0.43     12.51000
0.44     13.00000
0.45     13.00000
0.46     13.00000
0.47     13.00000
0.48     13.08334
0.49     14.01083
0.50     14.45420
0.51     14.50000
0.52     15.24580
0.53     15.50000
0.54     15.85000
0.55     16.10000
0.56     17.88000
0.57     19.25830
0.58     20.22000
0.59     21.00000
0.60     21.67920
0.61     23.22500
0.62     24.15000
0.63     25.55126
0.64     26.00000
0.65     26.00000
0.66     26.00000
0.67     26.25000
0.68     26.30750
0.69     26.55000
0.70     27.00000
0.71     27.75000
0.72     28.94250
0.73     29.70000
0.74     30.32832
0.75     31.00000
0.76     31.38750
0.77     33.65624
0.78     35.50000
0.79     39.00000
0.80     39.68750
0.81     46.90000
0.82     49.90084
0.83     52.00000
0.84     53.10000
0.85     56.49580
0.86     57.39168
0.87     65.48000
0.88     69.55000
0.89     73.50000
0.90     77.95830
0.91     79.20000
0.92     82.17080
0.93     88.32294
0.94     93.50000
0.95    112.07915
0.96    133.99000
0.97    151.55000
0.98    211.33750
0.99    249.00622
1.00    512.32920
Name: fare, dtype: float64

In [ ]:
pd.reset_option('display.max_rows')

In [ ]:
titanic.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [4]:
titanic.describe(include=['object', 'category', 'bool'])

         sex embarked  class  who adult_male deck  embark_town alive alone
count    891      889    891  891        891  203          889   891   891
unique     2        3      3    3          2    7            3     2     2
top     male        S  Third  man       True    C  Southampton    no  True
freq     577      644    491  537        537   59          644   549   537