## Ejercicio 1: Análisis del Dataset Iris

**Objetivo**: Realizar un análisis exhaustivo del dataset Iris utilizando las técnicas vistas.

### Instrucciones:
1. **Medidas de Frecuencia**:
   - Calcula la frecuencia de cada especie en el dataset Iris.
   - Calcula las frecuencias porcentuales.

2. **Medidas de Tendencia Central**:
   - Calcula la media, mediana y moda de las variables `sepal length (cm)` y `petal length (cm)`.

3. **Medidas de Dispersión**:
   - Calcula la desviación estándar, varianza, rango y rango intercuartil (IQR) de las variables `sepal width (cm)` y `petal width (cm)`.

4. **Percentiles y Cuartiles**:
   - Calcula los percentiles 25, 50 (mediana) y 75 para `sepal length (cm)`.

5. **Resumen Estadístico**:
   - Realiza un resumen estadístico de todo el DataFrame.
   - Realiza un resumen estadístico separado para cada especie considerando las cuatro variables del DataFrame.

6. **Covarianza y Correlación**:
   - Calcula la covarianza entre `sepal length (cm)` y `petal length (cm)`.
   - Calcula la correlación entre `sepal length (cm)` y `petal length (cm)`.

In [4]:
import pandas as pd
from sklearn.datasets import load_iris

iris = load_iris()

df = pd.DataFrame(data=iris.data, columns=iris.feature_names) 

df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)

In [5]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [6]:
species_count = df['species'].value_counts()

species_count

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [7]:
species_porcent = df['species'].value_counts(normalize=True)

species_porcent

species
setosa        0.333333
versicolor    0.333333
virginica     0.333333
Name: proportion, dtype: float64

In [ ]:
df["sepal length (cm)"].mean()

df["sepal length (cm)"].median()

df["sepal length (cm)"].mode()

df["petal length (cm)"].mean()

df["petal length (cm)"].median()

df["petal length (cm)"].mode()