# Ejercicio 4 - Análisis de Medallas Olímpicas

### Objetivo
Realizar un análisis exploratorio de datos (EDA) sobre un conjunto de datos de medallas olímpicas utilizando Pandas. El objetivo consiste en aplicar los conceptos aprendidos sobre **Series**, **DataFrames**, **limpieza de datos**, **operaciones básicas**, **filtrado** y **agregación** en Pandas.

### Consigna
Trabajando con el conjunto de datos *medallas.csv*, que incluye información sobre las medallas de oro, plata, bronce y el total obtenido por cada país en los Juegos Olímpicos, realizar las siguientes tareas:

1. **Cargar los Datos**: Importar los datos desde el archivo CSV a un DataFrame de Pandas.

2. **Exploración Inicial**: Utilizar métodos básicos para explorar el tamaño, las columnas y los tipos de datos del DataFrame.

3. **Limpieza de Datos**: Identificar y manejar valores faltantes o incorrectos, especialmente en las columnas de medallas donde los valores faltantes indican cero medallas. También tener en cuenta que la cantidad de medallas no pueden ser valores del tipo float.

4. **Análisis de Medallas de Oro por País**: Realizar las operaciones que sean necesarias para identificar cuáles fueron los 3 países con más medallas de Oro en total.

5. **Análisis de Medallas Totales por País**: Obtener un DataFrame que contenga sólo los países que ganaron más de 10 medallas en total.

In [1]:
import pandas as pd

df = pd.read_csv('medallas.csv')

df

     Oro  Plata  Bronce  Total          Pais
0    NaN    1.0     2.0      3     Argentina
1    NaN    2.0     2.0      4       Armenia
2   17.0    7.0    22.0     46     Australia
3    1.0    1.0     5.0      7       Austria
4    NaN    3.0     4.0      7    Azerbaijan
..   ...    ...     ...    ...           ...
88   NaN    1.0     NaN      1  Turkmenistan
89   2.0    1.0     1.0      4        Uganda
90   1.0    6.0    12.0     19       Ukraine
91   3.0    NaN     2.0      5    Uzbekistan
92   1.0    3.0     NaN      4     Venezuela

[93 rows x 5 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Oro     65 non-null     float64
 1   Plata   69 non-null     float64
 2   Bronce  76 non-null     float64
 3   Total   93 non-null     int64
 4   Pais    93 non-null     object
dtypes: float64(3), int64(1), object(1)
memory usage: 3.8+ KB

In [13]:
df['Oro'] = df['Oro'].fillna(0)
df['Plata'] = df['Plata'].fillna(0)
df['Bronce'] = df['Bronce'].fillna(0)

In [14]:
df['Oro'] = df['Oro'].astype(int)

df['Plata'] = df['Plata'].astype(int)

df['Bronce'] = df['Bronce'].astype(int)

In [17]:
maximo_oro = df['Oro'].max()

paises_maximo_oro = df[df['Oro'] == maximo_oro]['Pais'].values

print(f"Países con el máximo de medallas de oro ({maximo_oro}): {', '.join(paises_maximo_oro)}")

Países con el máximo de medallas de oro (39): Estados Unidos de America

In [18]:
paises_mas_diez_medallas = df[df['Total'] > 10]['Pais'].values

print(f"Países con más de 10 medallas: {', '.join(paises_mas_diez_medallas)}")

Países con más de 10 medallas: Australia, Brazil, Canada, Chinese Taipei, Cuba, Czech Republic, Denmark, Estados Unidos de America, France, Germany, Gran Bretana, Japon, Netherlands, Poland, Republica Popular de China, ROC, Spain, Switzerland, Turkey, Ukraine