## Pandas

#### ¿Qué es Pandas?
- **Definición**: Pandas es una biblioteca de software (paquete) que agrega funcionalidades a Python para la manipulación y el análisis de datos.
- **Usos Principales**: Se utiliza principalmente para la limpieza de datos, análisis exploratorio, y visualización de datos estadísticos.

#### Importancia de Pandas en Data Science
- **Facilita el Manejo de Datos**: Pandas simplifica el manejo de datos, para enfocarnos en el análisis.
- **Adaptado a Diferentes Fuentes de Datos**: Puede trabajar con una variedad de formatos de datos, como CSV, Excel, bases de datos SQL, entre otros.
- **Esencial para Análisis de Datos**: Es una herramienta clave en cualquier flujo de trabajo de Data Science para la preparación y exploración de datos.

#### Importación de Pandas
- **¿Dónde está Pandas?**: A pesar de que Pandas no forma parte de la estructura original de Python, es una librería adicional que Anaconda instaló en nuestra computadora al mismo momento que instaló Python.
- **Comando de instalación**: En caso de no utilizar Anaconda, se debe ejecutar **sólo la primera vez**: ```pip install pandas```
- **Importar Pandas**: A pesar de que ya está instalado, debes importarlo a tu entorno de trabajo (cuaderno) para utilizarlo en el código de python.
- **Comando de importación**: ```import pandas as pd```

In [2]:
import pandas as pd

## Tipos de Datos en Pandas

Así como python tiene sus propios tipos de datos incorporados (integers, strings, listas, etc), pandas trae 2 nuevos tipos de datos que serán la estructura principal del análisis, y estos tipos de datos son: las **series** y los **dataframes**.

En pandas vamos a trabajar esencialmente con datos organizados como tablas. La principal diferencia es que a las tablas de pandas les llamamos **dataframes**, y a las columnas de pandas les llamamos **series**.

Entonces series y dataframes serán los **nuevos tipos de datos** que incorporamos a nuestra colección.

Ahora, vamos a crear un conjunto de datos en python (no en pandas aún). Lo que vamos a crear es un **diccionario** con dos pares de *clave:valor*, pero los valores van a estar compuestos por **listas**.

In [4]:
datos = {"nombre": ["Pedro", "Juan", "Micaela"], "edad": [19, 25, 46]}
datos

{'nombre': ['Pedro', 'Juan', 'Micaela'], 'edad': [19, 25, 46]}

In [10]:
type(datos)

dict

##### DataFrames

Ahora vamos a usar **pandas** para abrir ese diccionario, pero convertido en un dataframe, usando el método **DataFrame()** de Pandas, y almacenándolo en la variable ```df```.

In [8]:
df = pd.DataFrame(datos)

df

    nombre  edad
0    Pedro    19
1     Juan    25
2  Micaela    46

In [12]:
type(df)

pandas.core.frame.DataFrame

##### Series

El segundo tipo de datos que incorpora Pandas, son las **series**. Las series son las columnas de los DataFrames.

En el caso de ```df``` tenemos 2 series (la serie *nombre* y la serie *edad*), ya que la primera columna, aunque parece una serie más, solo se trata de los índices de cada registro o fila de nuestro dataframe.

Podemos acceder a las series de nuestro objeto dataframe, usando el sistema de **corchetes**, o el de notación de **punto**.

In [14]:
df["nombre"]

0      Pedro
1       Juan
2    Micaela
Name: nombre, dtype: object

In [16]:
type(df["nombre"])

pandas.core.series.Series

In [20]:
df.nombre

0      Pedro
1       Juan
2    Micaela
Name: nombre, dtype: object

Entonces, un **DataFrame** es una tabla *bidimensional*, con *etiquetas en filas y columnas*, y si tomamos cualquier columna de un DataFrame por separado, vamos a tener entonces una **serie** que es el segundo elemento de pandas.

Las series son un array de *una sola dimensión*, con *etiquetas para sus elementos*.

##### Atributos y Dimensiones

Tanto los dataframes como las series tienen cada uno de ellos un conjunto de atributos y de dimensiones.

Por ejemplo, en relación a sus dimensiones, un **DataFrame** tiene **dos dimensiones**, que son el *alto* y el *ancho*, identificados por las filas y las columnas.

Mientras que una **serie** tiene solamente **una dimensión** que son sus filas, porque la columna siempre va a ser una.

En cuanto a sus atributos principales, un **DataFrame** tiene **tres atributos** principales que son sus *índices (o filas)*, sus *columnas* y sus *valores*.

Las **series** tienen solo **dos de estos atributos**, o sea, el *índice o las filas* y los *valores*.

![atributos.png](atributos.png)

## DataFrames

Como ya vimos, en Pandas, un DataFrame es una **estructura de datos bidimensional**. Esencialmente es una tabla con filas y columnas, muy similar a una hoja de cálculo o una tabla de base de datos.

Anteriormente creamos un dataframe a partir de un diccionario. Esta vez lo vamos a hacer **a partir de una fuente externa**, como es un **archivo csv**.

Antes de seguir, asegúrate de haber descargado el archivo "precipitaciones.csv" que encontrarás en el aula virtual en la carpeta de esta clase. Una vez que lo descargues, **importamos Pandas**, y usamos el método **read_csv()** para cargar el contenido de ese archivo dentro de nuestro dataframe.

In [22]:
import pandas as pd

In [26]:
df = pd.read_csv(r"C:\Users\migue\OneDrive\Documentos\Minería de Datos/Precipitaciones.csv")

df

,region,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre,anual
0,A CORUNA,240.5,293.4,31.0,80.6,149.5,108.9,44.6,21.8,96.5,154.5,100.8,214.8,1536.9
1,ALBACETE,68.1,28.0,26.2,65.3,25.4,50.0,2.0,34.5,48.0,44.8,33.1,14.1,439.5
2,ALICANTE,49.2,3.7,63.2,85.8,57.2,20.0,9.2,5.0,44.0,41.1,47.4,1.8,427.6
3,ALMERIA,56.3,5.2,35.8,43.1,38.8,16.9,10.2,1.9,17.4,27.3,32.6,3.2,288.7
4,ARABA,96.8,79.9,38.0,52.0,37.7,107.8,8.5,17.7,63.3,38.5,212.2,197.3,949.7
5,ASTURIAS,196.9,138.4,34.4,73.1,67.4,131.2,22.5,19.2,90.3,74.2,309.8,205.3,1362.7
6,AVILA,67.6,104.5,5.6,83.4,25.7,44.4,5.5,14.2,97.9,91.7,33.9,47.5,621.9
7,BADAJOZ,62.2,78.5,7.7,61.3,13.0,29.6,0.0,2.7,80.5,77.6,10.2,59.3,482.6
8,ILLES BALEARS,81.2,5.3,53.9,22.0,54.4,28.5,8.8,10.0,73.2,55.6,229.9,18.1,640.9
9,BARCELONA,26.8,28.4,16.4,72.2,26.0,42.3,18.7,25.7,76.0,40.6,72.8,2.2,448.1
10,BIZKAIA,175.7,111.5,52.3,57.5,49.1,124.8,37.9,26.4,98.0,53.9,371.4,282.1,1440.6
11,BURGOS,75.8,90.1,17.2,54.2,46.0,75.5,5.8,17.6,48.4,48.7,112.3,88.1,679.7
12,CACERES,70.5,117.3,4.3,95.1,19.5,36.2,0.2,4.9,98.5,130.9,7.1,75.8,660.3
13,CADIZ,148.5,75.4,65.0,35.5,7.5,12.3,0.0,0.1,30.8,24.8,44.5,135.1,579.5
14,CANTABRIA,180.7,112.8,56.0,60.3,60.2,122.9,43.2,30.3,105.1,47.1,384.6,246.6,1449.8
15,CASTELLON,56.6,21.6,30.6,97.3,31.7,46.1,33.9,57.0,106.6,15.3,47.3,4.1,548.1
16,CEUTA,261.9,93.9,209.8,35.4,12.9,2.7,0.0,1.5,7.6,3.7,129.2,61.8,820.4
17,CIUDAD REAL,84.0,39.6,10.3,63.0,11.8,24.0,0.7,16.1,39.8,88.9,23.1,34.2,435.5
18,CORDOBA,88.6,57.5,9.6,64.5,11.6,20.7,0.3,4.7,46.0,48.1,21.0,85.4,458.0
19,CUENCA,93.6,58.4,14.8,84.8,27.0,59.5,9.0,33.4,58.1,99.3,39.5,32.2,609.6
20,GIPUZKOA,173.0,113.6,62.0,62.9,69.0,145.0,46.8,27.0,122.8,69.4,342.0,314.7,1548.2
21,GIRONA,34.9,45.4,16.0,73.2,54.2,39.9,29.4,44.0,89.9,29.6,108.5,12.1,577.1
22,GRANADA,72.2,32.9,17.2,51.0,38.1,15.5,1.3,6.8,11.5,18.6,31.7,25.5,322.3
23,GUADALAJARA,88.4,74.3,15.5,92.7,40.6,66.5,12.3,33.5,76.0,75.4,44.6,35.1,654.9
24,HUELVA,50.7,101.9,35.4,51.5,15.1,14.5,0.0,0.0,78.2,32.0,18.1,105.3,502.7
25,HUESCA,84.3,52.7,5.6,72.7,42.5,71.3,23.6,17.7,78.3,65.0,64.7,59.1,637.5
26,JAEN,100.6,66.8,10.0,53.2,18.5,31.2,0.1,15.8,19.0,45.7,51.0,51.8,463.7
27,LA RIOJA,72.8,54.2,17.6,46.5,47.1,94.8,4.1,16.9,42.0,37.2,115.8,49.7,598.7
28,LAS PALMAS,44.1,32.6,6.1,3.5,0.7,1.1,0.7,1.5,0.9,1.6,10.9,4.5,108.2
29,LEON,92.0,128.2,19.4,56.6,48.9,77.6,6.0,9.2,71.8,60.1,59.8,112.1,741.7
30,LLEIDA,59.3,42.0,12.6,81.7,37.5,66.9,38.6,19.0,55.7,45.0,58.6,32.9,549.8
31,LUGO,179.5,221.7,26.6,79.5,78.4,101.7,13.5,17.6,59.5,111.0,114.1,179.8,1182.9
32,MADRID,69.3,61.7,6.1,77.0,25.7,40.0,5.6,30.0,63.0,84.1,25.2,36.0,523.7
33,MALAGA,139.5,43.7,35.5,56.9,16.5,6.4,0.0,1.2,29.9,13.1,26.5,70.9,440.1
34,MELILLA,44.9,20.0,45.1,57.1,9.0,3.1,0.0,1.2,49.6,1.0,34.1,5.2,270.3
35,MURCIA,44.5,2.3,52.6,61.6,48.7,32.6,9.3,3.3,32.4,20.1,37.4,4.2,349.0
36,NAVARRA,98.8,85.9,23.8,43.7,44.2,87.9,17.6,28.3,64.3,45.0,161.1,186.9,887.5
37,OURENSE,138.9,234.4,10.9,98.8,65.0,86.1,5.5,23.0,65.9,97.5,32.6,144.5,1003.1
38,PALENCIA,52.3,81.3,7.5,55.8,29.7,79.3,3.4,6.8,61.6,47.5,56.0,51.5,532.7
39,PONTEVEDRA,255.4,335.7,22.3,128.4,144.5,80.7,24.6,34.0,92.4,175.7,45.3,236.4,1575.4
40,SALAMANCA,52.9,123.6,4.1,62.4,24.4,50.8,5.6,6.7,85.0,78.6,27.1,48.4,569.6
41,SANTA CRUZ DE TENERIFE,90.6,56.0,20.8,19.4,2.8,3.5,1.7,3.4,3.9,8.2,50.2,25.9,286.4
42,SEGOVIA,63.3,80.5,3.3,88.5,39.8,55.6,6.3,14.4,47.1,62.5,42.9,44.8,549.0
43,SEVILLA,91.1,54.4,24.5,60.7,9.2,8.1,0.1,0.2,46.0,29.9,20.6,114.7,459.5
44,SORIA,75.1,63.5,12.1,67.7,70.7,85.4,10.5,19.4,56.5,47.0,62.9,37.7,608.5
45,TARRAGONA,52.7,28.4,9.7,59.6,19.0,63.8,22.4,43.5,88.7,25.4,115.0,5.1,533.3
46,TERUEL,54.1,28.8,11.9,74.6,48.5,72.6,26.8,48.1,55.0,30.9,60.0,13.2,524.5
47,TOLEDO,83.0,51.1,7.5,62.5,15.0,27.1,3.3,18.6,70.5,94.7,16.4,29.9,479.6
48,VALENCIA,61.9,16.8,49.3,86.4,33.8,34.2,17.1,30.9,99.3,46.1,46.6,5.5,527.9
49,VALLADOLID,29.2,69.1,4.1,65.1,24.3,58.3,1.9,3.8,54.1,40.2,41.7,35.9,427.7
50,ZAMORA,53.0,112.0,6.8,63.7,19.8,54.2,3.1,9.6,78.5,55.3,29.0,50.3,535.3
51,ZARAGOZA,52.0,30.0,3.6,52.7,38.3,57.5,13.5,13.2,61.5,27.4,76.6,23.4,449.7

In [32]:
df_2 = pd.read_csv("C:/Users/migue/OneDrive/Documentos/Minería de Datos/Precipitaciones.csv")   # Otra forma de cargar un archivo externo (atención a las barras!!)

df_2

,region,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre,anual
0,A CORUNA,240.5,293.4,31.0,80.6,149.5,108.9,44.6,21.8,96.5,154.5,100.8,214.8,1536.9
1,ALBACETE,68.1,28.0,26.2,65.3,25.4,50.0,2.0,34.5,48.0,44.8,33.1,14.1,439.5
2,ALICANTE,49.2,3.7,63.2,85.8,57.2,20.0,9.2,5.0,44.0,41.1,47.4,1.8,427.6
3,ALMERIA,56.3,5.2,35.8,43.1,38.8,16.9,10.2,1.9,17.4,27.3,32.6,3.2,288.7
4,ARABA,96.8,79.9,38.0,52.0,37.7,107.8,8.5,17.7,63.3,38.5,212.2,197.3,949.7
5,ASTURIAS,196.9,138.4,34.4,73.1,67.4,131.2,22.5,19.2,90.3,74.2,309.8,205.3,1362.7
6,AVILA,67.6,104.5,5.6,83.4,25.7,44.4,5.5,14.2,97.9,91.7,33.9,47.5,621.9
7,BADAJOZ,62.2,78.5,7.7,61.3,13.0,29.6,0.0,2.7,80.5,77.6,10.2,59.3,482.6
8,ILLES BALEARS,81.2,5.3,53.9,22.0,54.4,28.5,8.8,10.0,73.2,55.6,229.9,18.1,640.9
9,BARCELONA,26.8,28.4,16.4,72.2,26.0,42.3,18.7,25.7,76.0,40.6,72.8,2.2,448.1
10,BIZKAIA,175.7,111.5,52.3,57.5,49.1,124.8,37.9,26.4,98.0,53.9,371.4,282.1,1440.6
11,BURGOS,75.8,90.1,17.2,54.2,46.0,75.5,5.8,17.6,48.4,48.7,112.3,88.1,679.7
12,CACERES,70.5,117.3,4.3,95.1,19.5,36.2,0.2,4.9,98.5,130.9,7.1,75.8,660.3
13,CADIZ,148.5,75.4,65.0,35.5,7.5,12.3,0.0,0.1,30.8,24.8,44.5,135.1,579.5
14,CANTABRIA,180.7,112.8,56.0,60.3,60.2,122.9,43.2,30.3,105.1,47.1,384.6,246.6,1449.8
15,CASTELLON,56.6,21.6,30.6,97.3,31.7,46.1,33.9,57.0,106.6,15.3,47.3,4.1,548.1
16,CEUTA,261.9,93.9,209.8,35.4,12.9,2.7,0.0,1.5,7.6,3.7,129.2,61.8,820.4
17,CIUDAD REAL,84.0,39.6,10.3,63.0,11.8,24.0,0.7,16.1,39.8,88.9,23.1,34.2,435.5
18,CORDOBA,88.6,57.5,9.6,64.5,11.6,20.7,0.3,4.7,46.0,48.1,21.0,85.4,458.0
19,CUENCA,93.6,58.4,14.8,84.8,27.0,59.5,9.0,33.4,58.1,99.3,39.5,32.2,609.6
20,GIPUZKOA,173.0,113.6,62.0,62.9,69.0,145.0,46.8,27.0,122.8,69.4,342.0,314.7,1548.2
21,GIRONA,34.9,45.4,16.0,73.2,54.2,39.9,29.4,44.0,89.9,29.6,108.5,12.1,577.1
22,GRANADA,72.2,32.9,17.2,51.0,38.1,15.5,1.3,6.8,11.5,18.6,31.7,25.5,322.3
23,GUADALAJARA,88.4,74.3,15.5,92.7,40.6,66.5,12.3,33.5,76.0,75.4,44.6,35.1,654.9
24,HUELVA,50.7,101.9,35.4,51.5,15.1,14.5,0.0,0.0,78.2,32.0,18.1,105.3,502.7
25,HUESCA,84.3,52.7,5.6,72.7,42.5,71.3,23.6,17.7,78.3,65.0,64.7,59.1,637.5
26,JAEN,100.6,66.8,10.0,53.2,18.5,31.2,0.1,15.8,19.0,45.7,51.0,51.8,463.7
27,LA RIOJA,72.8,54.2,17.6,46.5,47.1,94.8,4.1,16.9,42.0,37.2,115.8,49.7,598.7
28,LAS PALMAS,44.1,32.6,6.1,3.5,0.7,1.1,0.7,1.5,0.9,1.6,10.9,4.5,108.2
29,LEON,92.0,128.2,19.4,56.6,48.9,77.6,6.0,9.2,71.8,60.1,59.8,112.1,741.7
30,LLEIDA,59.3,42.0,12.6,81.7,37.5,66.9,38.6,19.0,55.7,45.0,58.6,32.9,549.8
31,LUGO,179.5,221.7,26.6,79.5,78.4,101.7,13.5,17.6,59.5,111.0,114.1,179.8,1182.9
32,MADRID,69.3,61.7,6.1,77.0,25.7,40.0,5.6,30.0,63.0,84.1,25.2,36.0,523.7
33,MALAGA,139.5,43.7,35.5,56.9,16.5,6.4,0.0,1.2,29.9,13.1,26.5,70.9,440.1
34,MELILLA,44.9,20.0,45.1,57.1,9.0,3.1,0.0,1.2,49.6,1.0,34.1,5.2,270.3
35,MURCIA,44.5,2.3,52.6,61.6,48.7,32.6,9.3,3.3,32.4,20.1,37.4,4.2,349.0
36,NAVARRA,98.8,85.9,23.8,43.7,44.2,87.9,17.6,28.3,64.3,45.0,161.1,186.9,887.5
37,OURENSE,138.9,234.4,10.9,98.8,65.0,86.1,5.5,23.0,65.9,97.5,32.6,144.5,1003.1
38,PALENCIA,52.3,81.3,7.5,55.8,29.7,79.3,3.4,6.8,61.6,47.5,56.0,51.5,532.7
39,PONTEVEDRA,255.4,335.7,22.3,128.4,144.5,80.7,24.6,34.0,92.4,175.7,45.3,236.4,1575.4
40,SALAMANCA,52.9,123.6,4.1,62.4,24.4,50.8,5.6,6.7,85.0,78.6,27.1,48.4,569.6
41,SANTA CRUZ DE TENERIFE,90.6,56.0,20.8,19.4,2.8,3.5,1.7,3.4,3.9,8.2,50.2,25.9,286.4
42,SEGOVIA,63.3,80.5,3.3,88.5,39.8,55.6,6.3,14.4,47.1,62.5,42.9,44.8,549.0
43,SEVILLA,91.1,54.4,24.5,60.7,9.2,8.1,0.1,0.2,46.0,29.9,20.6,114.7,459.5
44,SORIA,75.1,63.5,12.1,67.7,70.7,85.4,10.5,19.4,56.5,47.0,62.9,37.7,608.5
45,TARRAGONA,52.7,28.4,9.7,59.6,19.0,63.8,22.4,43.5,88.7,25.4,115.0,5.1,533.3
46,TERUEL,54.1,28.8,11.9,74.6,48.5,72.6,26.8,48.1,55.0,30.9,60.0,13.2,524.5
47,TOLEDO,83.0,51.1,7.5,62.5,15.0,27.1,3.3,18.6,70.5,94.7,16.4,29.9,479.6
48,VALENCIA,61.9,16.8,49.3,86.4,33.8,34.2,17.1,30.9,99.3,46.1,46.6,5.5,527.9
49,VALLADOLID,29.2,69.1,4.1,65.1,24.3,58.3,1.9,3.8,54.1,40.2,41.7,35.9,427.7
50,ZAMORA,53.0,112.0,6.8,63.7,19.8,54.2,3.1,9.6,78.5,55.3,29.0,50.3,535.3
51,ZARAGOZA,52.0,30.0,3.6,52.7,38.3,57.5,13.5,13.2,61.5,27.4,76.6,23.4,449.7

In [34]:
type(df)

pandas.core.frame.DataFrame

### Métodos y Atributos

Vamos a ver algunos Métodos y Atributos clave para explorar los DataFrames en Pandas.

In [36]:
df.head()

,region,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre,anual
0,A CORUNA,240.5,293.4,31.0,80.6,149.5,108.9,44.6,21.8,96.5,154.5,100.8,214.8,1536.9
1,ALBACETE,68.1,28.0,26.2,65.3,25.4,50.0,2.0,34.5,48.0,44.8,33.1,14.1,439.5
2,ALICANTE,49.2,3.7,63.2,85.8,57.2,20.0,9.2,5.0,44.0,41.1,47.4,1.8,427.6
3,ALMERIA,56.3,5.2,35.8,43.1,38.8,16.9,10.2,1.9,17.4,27.3,32.6,3.2,288.7
4,ARABA,96.8,79.9,38.0,52.0,37.7,107.8,8.5,17.7,63.3,38.5,212.2,197.3,949.7

Método que muestra las primeras filas del DataFrame.

In [38]:
df.head(3)

,region,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre,anual
0,A CORUNA,240.5,293.4,31.0,80.6,149.5,108.9,44.6,21.8,96.5,154.5,100.8,214.8,1536.9
1,ALBACETE,68.1,28.0,26.2,65.3,25.4,50.0,2.0,34.5,48.0,44.8,33.1,14.1,439.5
2,ALICANTE,49.2,3.7,63.2,85.8,57.2,20.0,9.2,5.0,44.0,41.1,47.4,1.8,427.6

Si no colocas ningún parámetro en los paréntesis de *head()*, por defecto va a mostrar las primeras 5 filas. Pero si agregas un parámetro numérico, mostrará esa cantidad de filas.

In [40]:
df.tail()

,region,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre,anual
47,TOLEDO,83.0,51.1,7.5,62.5,15.0,27.1,3.3,18.6,70.5,94.7,16.4,29.9,479.6
48,VALENCIA,61.9,16.8,49.3,86.4,33.8,34.2,17.1,30.9,99.3,46.1,46.6,5.5,527.9
49,VALLADOLID,29.2,69.1,4.1,65.1,24.3,58.3,1.9,3.8,54.1,40.2,41.7,35.9,427.7
50,ZAMORA,53.0,112.0,6.8,63.7,19.8,54.2,3.1,9.6,78.5,55.3,29.0,50.3,535.3
51,ZARAGOZA,52.0,30.0,3.6,52.7,38.3,57.5,13.5,13.2,61.5,27.4,76.6,23.4,449.7

Método que muestra las últimas filas. Por defecto mostrará 5 filas, pero al igual que *head()* puedes pedirle un parámetro específico.

In [42]:
df.shape

(52, 14)

Atributo que devuelve una tupla con el número de filas y columnas. Shape no es un método, sino un atributo. Por esa razón se pide sin paréntesis.

In [44]:
df.columns

Index(['region', 'enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio',
       'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre',
       'anual'],
      dtype='object')

Atributo que devuelve una lista los nombres de las columnas.

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   region      52 non-null     object
 1   enero       52 non-null     float64
 2   febrero     52 non-null     float64
 3   marzo       52 non-null     float64
 4   abril       52 non-null     float64
 5   mayo        52 non-null     float64
 6   junio       52 non-null     float64
 7   julio       52 non-null     float64
 8   agosto      52 non-null     float64
 9   septiembre  52 non-null     float64
 10  octubre     52 non-null     float64
 11  noviembre   52 non-null     float64
 12  diciembre   52 non-null     float64
 13  anual       52 non-null     float64
dtypes: float64(13), object(1)
memory usage: 5.8+ KB

Método que proporciona un resumen, incluyendo el tipo de datos y los valores no nulos.

In [56]:
type(df["region"][5])

str

In [58]:
df.describe()

,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre,anual
count,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000
mean,92.996154,78.632692,26.684615,64.500000,38.305769,54.182692,11.840385,17.178846,62.246154,54.373077,82.494231,76.192308,659.626923
std,57.127171,67.454280,31.473913,21.421942,29.079576,36.821635,13.256390,13.939496,28.581205,36.619785,91.689789,80.409042,352.905548
min,26.800000,2.300000,3.300000,3.500000,0.700000,1.100000,0.000000,0.000000,0.900000,1.000000,7.100000,1.800000,108.200000
25%,53.825000,32.825000,9.125000,53.950000,18.875000,26.325000,1.600000,4.850000,46.000000,29.825000,32.375000,22.075000,455.925000
50%,73.950000,62.600000,17.200000,62.700000,35.650000,50.400000,6.150000,16.500000,62.300000,46.550000,46.950000,47.950000,548.550000
75%,97.300000,102.550000,35.425000,77.625000,48.750000,78.025000,17.875000,26.550000,81.625000,74.500000,102.725000,107.000000,665.150000
max,261.900000,335.700000,209.800000,128.400000,149.500000,145.000000,46.800000,57.000000,122.800000,175.700000,384.600000,314.700000,1575.400000

Método que ofrece estadísticas descriptivas de las columnas numéricas.

## Series

Ahora vamos a seleccionar la serie *"Región"* para trabajar con ella.

In [64]:
serie = df["region"]

serie

0                   A CORUNA
1                   ALBACETE
2                   ALICANTE
3                    ALMERIA
4                      ARABA
5                   ASTURIAS
6                      AVILA
7                    BADAJOZ
8              ILLES BALEARS
9                  BARCELONA
10                   BIZKAIA
11                    BURGOS
12                   CACERES
13                     CADIZ
14                 CANTABRIA
15                 CASTELLON
16                     CEUTA
17               CIUDAD REAL
18                   CORDOBA
19                    CUENCA
20                  GIPUZKOA
21                    GIRONA
22                   GRANADA
23               GUADALAJARA
24                    HUELVA
25                    HUESCA
26                      JAEN
27                  LA RIOJA
28                LAS PALMAS
29                      LEON
30                    LLEIDA
31                      LUGO
32                    MADRID
33                    MALAGA
34                   MELILLA
35                    MURCIA
36                   NAVARRA
37                   OURENSE
38                  PALENCIA
39                PONTEVEDRA
40                 SALAMANCA
41    SANTA CRUZ DE TENERIFE
42                   SEGOVIA
43                   SEVILLA
44                     SORIA
45                 TARRAGONA
46                    TERUEL
47                    TOLEDO
48                  VALENCIA
49                VALLADOLID
50                    ZAMORA
51                  ZARAGOZA
Name: region, dtype: object

In [66]:
type(serie)

pandas.core.series.Series

In [68]:
serie.head()

0    A CORUNA
1    ALBACETE
2    ALICANTE
3     ALMERIA
4       ARABA
Name: region, dtype: object

Conceptualmente una Serie en Pandas es un **arreglo unidimensional** (es decir, de una sola dimensión), que es capaz de almacenar cualquier tipo de datos.

Como hemos visto, las series tienen un **índice** asociado a cada **registro**. Esto significa que aunque parece que tuviera dos columnas (la del **índice** y la de los **datos**), solo se trata de una, ya que **el índice no es información**, sino una etiqueta pegada a la información propiamente dicha.

Si bien podemos crear una serie a partir de un dataframe (como hicimos anteriormente), también puedes **crear series a partir de objetos de python** como listas, usando el método **Series()** de Pandas.

In [70]:
datos = [10, 20, 30, 40, 50]

serie2 = pd.Series(datos)
serie2

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [72]:
type(serie2)

pandas.core.series.Series

In [74]:
serie2[0]

10

In [76]:
serie2[3]

40

Cada elemento de la lista se ha transformado en un item de mi Serie, y a cada elemento **se le ha asignado un índice numérico comenzando desde cero**.

También se puede **asignar índices personalizados** a las series, a través del parámetro *"index"* de las Series. **Nota:** Para ver los parámetros puede utilizarse el comando: *Shift+TAB* luego de escribir la función.

In [82]:
indices = ["a", "b", "c", "d", "e"]
serie2 = pd.Series(datos, indices)

serie2

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [84]:
serie2["c"]

30

Comprobemos los **tipos de datos** que estamos manejando.

In [86]:
type(serie2)

pandas.core.series.Series

In [88]:
type(serie2["c"])

numpy.int64

Por otra parte, cuando creamos series a partir de **diccionarios**:

In [92]:
paises_capitales = {"Argentina": "CABA", "Peru": "Lima", "España": "Madrid"}

serie3 = pd.Series(paises_capitales)
serie3

Argentina      CABA
Peru           Lima
España       Madrid
dtype: object

Como puedes ver, en estos casos las **claves** se transforman automáticamente en **índices alfabéticos**.

También puedo indexarlos usando esos índices.

In [94]:
serie3["Argentina"]

'CABA'

## Operaciones Básicas con Series

Además, se pueden realizar operaciones básicas con las series.

In [96]:
serie = pd.Series([10, 20, 30, 40, 50])
serie

0    10
1    20
2    30
3    40
4    50
dtype: int64

Ahora seleccionemos el **primer item** con la notación de corches, y le **sumamos 10**.

In [98]:
serie[0] = serie[0] + 10

serie

0    20
1    20
2    30
3    40
4    50
dtype: int64

Podemos también sumarle 10 a **cada uno** de los items

In [100]:
serie = serie + 10

serie

0    30
1    30
2    40
3    50
4    60
dtype: int64

Puedes realizarse cualquier otra operación, como por ejemplo multiplicar.

In [102]:
serie = serie * 2

serie

0     60
1     60
2     80
3    100
4    120
dtype: int64

## Limpieza de Datos

Durante la preparación de nuestros datos (antes de poder usarlos para hacer análisis y ciencia de datos) hay un proceso fundamental que se llama **limpieza de datos**. Si no limpiamos adecuadamente nuestros datos, corremos el riesgo de que luego contaminen el resultado de nuestros análisis.

La limpieza de datos es un proceso que no puedes obviar, porque la mayoría de las veces, los datos provienen de fuentes externas, y nada te garantiza que los creadores de esos registros hayan seguido protocolos estrictos al generar esa información.

La limpieza de datos implica hacer procedimientos como:
* Exploración de datos.
* Identificación de valores faltantes o nulos.
* Manejo de esos valores.
* Manejo (corrección) de tipos de datos inapropiados (por ejemplo una columna fecha que esté en formato string en formato datetime).
* Eliminación de duplicados.

Vamos a aprender a realizar algunas tareas básicas de limpieza de datos utilizando Pandas en Python. 

Vamos a usar un conjunto de datos muy sencillo, pero apropiado como ejemplo, y que representa una pequeña tabla de ventas.

In [104]:
datos = {"ID_producto": [1001, 1002, 1003, 1003],
         "Cantidad_vendida": [30, None, 25, 25],
         "Precio": [20.5, 15.0, None, 22.5]}

df = pd.DataFrame(datos)
df

   ID_producto  Cantidad_vendida  Precio
0         1001              30.0    20.5
1         1002               NaN    15.0
2         1003              25.0     NaN
3         1003              25.0    22.5

### Paso Inicial: Exploración

Usaremos los métodos de dataframes que ya hemos aprendido, para identificar la estructura y calidad de nuestros datos de origen:

In [106]:
df.head()

   ID_producto  Cantidad_vendida  Precio
0         1001              30.0    20.5
1         1002               NaN    15.0
2         1003              25.0     NaN
3         1003              25.0    22.5

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID_producto       4 non-null      int64
 1   Cantidad_vendida  3 non-null      float64
 2   Precio            3 non-null      float64
dtypes: float64(2), int64(1)
memory usage: 228.0 bytes

### Paso 1: Identificar Valores Faltantes (nulos)

In [110]:
df.isnull()

   ID_producto  Cantidad_vendida  Precio
0        False             False   False
1        False              True   False
2        False             False    True
3        False             False   False

In [112]:
df.isnull().sum()

ID_producto         0
Cantidad_vendida    1
Precio              1
dtype: int64

### Paso 2: Manejo de Valores Faltantes

En este punto llega el momento de tomar decisiones. No hay soluciones únicas, sino que siempre va a depender del caso. En ocasiones será conveniente eliminar las filas con datos inválidos. En ocasiones será reemplazarlos por otros valores.

##### Opción 1 - Eliminar registros que contienen valores nulos

In [114]:
df_eliminados = df.dropna()

df_eliminados

   ID_producto  Cantidad_vendida  Precio
0         1001              30.0    20.5
3         1003              25.0    22.5

In [118]:
df ## el DataFrame inicial no se ve modificado (si no lo sobreescribimos)

   ID_producto  Cantidad_vendida  Precio
0         1001              30.0    20.5
1         1002               NaN    15.0
2         1003              25.0     NaN
3         1003              25.0    22.5

##### Opción 2: Reemplazar los Valores Nulos con Otros Valores

In [120]:
valores = {"Cantidad_vendida": 0, "Precio": df["Precio"].mean()}

df_reemplazados = df.fillna(valores)
df_reemplazados

   ID_producto  Cantidad_vendida     Precio
0         1001              30.0  20.500000
1         1002               0.0  15.000000
2         1003              25.0  19.333333
3         1003              25.0  22.500000

### Paso 3: Corrección de Tipos de Datos

In [122]:
type(df_reemplazados["Cantidad_vendida"][0])

numpy.float64

In [124]:
df_reemplazados["Cantidad_vendida"] = df_reemplazados["Cantidad_vendida"].astype(int)

df_reemplazados

   ID_producto  Cantidad_vendida     Precio
0         1001                30  20.500000
1         1002                 0  15.000000
2         1003                25  19.333333
3         1003                25  22.500000

In [126]:
type(df_reemplazados["Cantidad_vendida"][0])

numpy.int32

### Paso 4: Eliminación de Duplicados

In [128]:
df_reemplazados = df_reemplazados.drop_duplicates()

df_reemplazados

   ID_producto  Cantidad_vendida     Precio
0         1001                30  20.500000
1         1002                 0  15.000000
2         1003                25  19.333333
3         1003                25  22.500000

En este caso no funcionó, porque buscó registros completos que estén duplicados. Si queremos eliminar los duplicados que se repitan sólo en uno de los campos, usamos el parámetro `subset`.

In [130]:
df_reemplazados = df_reemplazados.drop_duplicates(subset="ID_producto")

df_reemplazados

   ID_producto  Cantidad_vendida     Precio
0         1001                30  20.500000
1         1002                 0  15.000000
2         1003                25  19.333333

## Filtrado de Series

Vamos a crear una serie en la que luego aplicaremos el filtrado.

In [134]:
serie = pd.Series([5, 10, 15, 20, 25])
serie

0     5
1    10
2    15
3    20
4    25
dtype: int64

El **filtrado** es como realizar *preguntas específicas* a nuestros datos. Por ejemplo, podríamos querer saber qué elementos son mayores que un número específico.

Supongamos que en la serie anterior queremos saber **qué números son mayores que 15**.

Para hacer esto, vamos a construir una **condición** y aplicarla a nuestra *serie*.

In [138]:
filtro = serie > 15

serie_filtrada = serie[filtro]

serie_filtrada

3    20
4    25
dtype: int64

Veamos cómo se ve la variable **filtro** que hemos creado en el medio del proceso.

In [140]:
filtro

0    False
1    False
2    False
3     True
4     True
dtype: bool

Como podemos ver, lo que hicimos fue crear una nueva **Serie** que contiene **valores booleanos** (*True* para elementos que cumplen la condición, y *False* para los que no).

Luego, usamos la serie **filtro** para "indexar" solo los elementos de **serie** que son *True*, y que por lo tanto son mayores que 15. De alguna manera este es el mismo proceso de indexación que aplicábamos antes, porque lo que pones en las llaves cuadradas es el valor que quieres obtener, solo que al hacerlo de esta manera **obtenemos más de un valor que cumple con el criterio de indexación**, y a ese proceso le llamamos **filtrado**.

Vemos también que es posible filtrar series compuestas por valores de **texto**.

In [142]:
serie2 = pd.Series(["banana", "manzana", "melon", "pera"])
serie2

0     banana
1    manzana
2      melon
3       pera
dtype: object

El objetivo es filtrar la **serie2**, para obtener solamente los items que contienen la letra "m" en su nombre. Para lograrlo aplicaremos un método de los strings que se llama **contains()** que permite verificar si un determinado string contiene un determinado substring.

Por lo tanto, deberíamos comenzar por ver qué tipos de datos estoy manipulando, para identificar si podemos utilizar **contains()** en este caso.

In [144]:
type(serie2)

pandas.core.series.Series

In [146]:
type(serie2[3])

str

Notemos algo interesante, si bien serie2 **contiene strings**, serie2 **no es un string**.

serie2 **es una Serie**.

Por lo tanto, en serie2 solo puedo usar métodos propios de los objetos serie, y no puedo usar métodos de string (como *contains*).

**Imprimamos los métodos de los objetos serie** para ver si disponemos de alguna alternativa.

In [148]:
dir(serie2)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__column_consortium_standard__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_expanddim_from_mgr',
 '_constructor_from_mgr',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_flex_method',
 '_from_mgr',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_rows_with_mask',
 '_get_value',
 '_get_values_tuple',
 '_get_with',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_is_view_after_cow_rules',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_references',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_shift_with_freq',
 '_slice',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'case_when',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'list',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'str',
 'struct',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

La mala noticia es que los objetos serie no tienen ningún método **contains()**.

Pero lo que **sí tienen** es un **método str**.

**Veamos qué hace str**

In [150]:
help(serie2.str)

Help on StringMethods in module pandas.core.strings.accessor object:

class StringMethods(pandas.core.base.NoNewAttributesMixin)
 |  StringMethods(data) -> 'None'
 |
 |  Vectorized string functions for Series and Index.
 |
 |  NAs stay NA unless handled otherwise by a particular method.
 |  Patterned after Python's string methods, with some inspiration from
 |  R's stringr package.
 |
 |  Examples
 |  --------
 |  >>> s = pd.Series(["A_Str_Series"])
 |  >>> s
 |  0    A_Str_Series
 |  dtype: object
 |
 |  >>> s.str.split("_")
 |  0    [A, Str, Series]
 |  dtype: object
 |
 |  >>> s.str.replace("_", "")
 |  0    AStrSeries
 |  dtype: object
 |
 |  Method resolution order:
 |      StringMethods
 |      pandas.core.base.NoNewAttributesMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __getitem__(self, key)
 |
 |  __init__(self, data) -> 'None'
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self) -> 'Iterator'
 |
 |  capitalize(self)
 |      Convert strings in the Series/Index to be capitalized.
 |
 |      Equivalent to :meth:`str.capitalize`.
 |
 |      Returns
 |      -------
 |      Series or Index of object
 |
 |      See Also
 |      --------
 |      Series.str.lower : Converts all characters to lowercase.
 |      Series.str.upper : Converts all characters to uppercase.
 |      Series.str.title : Converts first character of each word to uppercase and
 |          remaining to lowercase.
 |      Series.str.capitalize : Converts first character to uppercase and
 |          remaining to lowercase.
 |      Series.str.swapcase : Converts uppercase to lowercase and lowercase to
 |          uppercase.
 |      Series.str.casefold: Removes all case distinctions in the string.
 |
 |      Examples
 |      --------
 |      >>> s = pd.Series(['lower', 'CAPITALS', 'this is a sentence', 'SwApCaSe'])
 |      >>> s
 |      0                 lower
 |      1              CAPITALS
 |      2    this is a sentence
 |      3              SwApCaSe
 |      dtype: object
 |
 |      >>> s.str.lower()
 |      0                 lower
 |      1              capitals
 |      2    this is a sentence
 |      3              swapcase
 |      dtype: object
 |
 |      >>> s.str.upper()
 |      0                 LOWER
 |      1              CAPITALS
 |      2    THIS IS A SENTENCE
 |      3              SWAPCASE
 |      dtype: object
 |
 |      >>> s.str.title()
 |      0                 Lower
 |      1              Capitals
 |      2    This Is A Sentence
 |      3              Swapcase
 |      dtype: object
 |
 |      >>> s.str.capitalize()
 |      0                 Lower
 |      1              Capitals
 |      2    This is a sentence
 |      3              Swapcase
 |      dtype: object
 |
 |      >>> s.str.swapcase()
 |      0                 LOWER
 |      1              capitals
 |      2    THIS IS A SENTENCE
 |      3              sWaPcAsE
 |      dtype: object
 |
 |  casefold(self)
 |      Convert strings in the Series/Index to be casefolded.
 |
 |      Equivalent to :meth:`str.casefold`.
 |
 |      Returns
 |      -------
 |      Series or Index of object
 |
 |      See Also
 |      --------
 |      Series.str.lower : Converts all characters to lowercase.
 |      Series.str.upper : Converts all characters to uppercase.
 |      Series.str.title : Converts first character of each word to uppercase and
 |          remaining to lowercase.
 |      Series.str.capitalize : Converts first character to uppercase and
 |          remaining to lowercase.
 |      Series.str.swapcase : Converts uppercase to lowercase and lowercase to
 |          uppercase.
 |      Series.str.casefold: Removes all case distinctions in the string.
 |
 |      Examples
 |      --------
 |      >>> s = pd.Series(['lower', 'CAPITALS', 'this is a sentence', 'SwApCaSe'])
 |      >>> s
 |      0                 lower
 |      1              CAPITALS
 |      2    this is a sentence
 |      3              SwApCaSe
 |      dtype: object
 |
 |      >>> s.str.lower()
 |      0                 lower
 |      1              capitals
 |      2    this is a sentence
 |      3              swapcase
 |      dtype: object
 |
 |      >>> s.str.upper()
 |      0                 LOWER
 |      1              CAPITALS
 |      2    THIS IS A SENTENCE
 |      3              SWAPCASE
 |      dtype: object
 |
 |      >>> s.str.title()
 |      0                 Lower
 |      1              Capitals
 |      2    This Is A Sentence
 |      3              Swapcase
 |      dtype: object
 |
 |      >>> s.str.capitalize()
 |      0                 Lower
 |      1              Capitals
 |      2    This is a sentence
 |      3              Swapcase
 |      dtype: object
 |
 |      >>> s.str.swapcase()
 |      0                 LOWER
 |      1              capitals
 |      2    THIS IS A SENTENCE
 |      3              sWaPcAsE
 |      dtype: object
 |
 |  cat(self, others=None, sep: 'str | None' = None, na_rep=None, join: 'AlignJoin' = 'left') -> 'str | Series | Index'
 |      Concatenate strings in the Series/Index with given separator.
 |
 |      If `others` is specified, this function concatenates the Series/Index
 |      and elements of `others` element-wise.
 |      If `others` is not passed, then all values in the Series/Index are
 |      concatenated into a single string with a given `sep`.
 |
 |      Parameters
 |      ----------
 |      others : Series, Index, DataFrame, np.ndarray or list-like
 |          Series, Index, DataFrame, np.ndarray (one- or two-dimensional) and
 |          other list-likes of strings must have the same length as the
 |          calling Series/Index, with the exception of indexed objects (i.e.
 |          Series/Index/DataFrame) if `join` is not None.
 |
 |          If others is a list-like that contains a combination of Series,
 |          Index or np.ndarray (1-dim), then all elements will be unpacked and
 |          must satisfy the above criteria individually.
 |
 |          If others is None, the method returns the concatenation of all
 |          strings in the calling Series/Index.
 |      sep : str, default ''
 |          The separator between the different elements/columns. By default
 |          the empty string `''` is used.
 |      na_rep : str or None, default None
 |          Representation that is inserted for all missing values:
 |
 |          - If `na_rep` is None, and `others` is None, missing values in the
 |            Series/Index are omitted from the result.
 |          - If `na_rep` is None, and `others` is not None, a row containing a
 |            missing value in any of the columns (before concatenation) will
 |            have a missing value in the result.
 |      join : {'left', 'right', 'outer', 'inner'}, default 'left'
 |          Determines the join-style between the calling Series/Index and any
 |          Series/Index/DataFrame in `others` (objects without an index need
 |          to match the length of the calling Series/Index). To disable
 |          alignment, use `.values` on any Series/Index/DataFrame in `others`.
 |
 |      Returns
 |      -------
 |      str, Series or Index
 |          If `others` is None, `str` is returned, otherwise a `Series/Index`
 |          (same type as caller) of objects is returned.
 |
 |      See Also
 |      --------
 |      split : Split each string in the Series/Index.
 |      join : Join lists contained as elements in the Series/Index.
 |
 |      Examples
 |      --------
 |      When not passing `others`, all values are concatenated into a single
 |      string:
 |
 |      >>> s = pd.Series(['a', 'b', np.nan, 'd'])
 |      >>> s.str.cat(sep=' ')
 |      'a b d'
 |
 |      By default, NA values in the Series are ignored. Using `na_rep`, they
 |      can be given a representation:
 |
 |      >>> s.str.cat(sep=' ', na_rep='?')
 |      'a b ? d'
 |
 |      If `others` is specified, corresponding values are concatenated with
 |      the separator. Result will be a Series of strings.
 |
 |      >>> s.str.cat(['A', 'B', 'C', 'D'], sep=',')
 |      0    a,A
 |      1    b,B
 |      2    NaN
 |      3    d,D
 |      dtype: object
 |
 |      Missing values will remain missing in the result, but can again be
 |      represented using `na_rep`
 |
 |      >>> s.str.cat(['A', 'B', 'C', 'D'], sep=',', na_rep='-')
 |      0    a,A
 |      1    b,B
 |      2    -,C
 |      3    d,D
 |      dtype: object
 |
 |      If `sep` is not specified, the values are concatenated without
 |      separation.
 |
 |      >>> s.str.cat(['A', 'B', 'C', 'D'], na_rep='-')
 |      0    aA
 |      1    bB
 |      2    -C
 |      3    dD
 |      dtype: object
 |
 |      Series with different indexes can be aligned before concatenation. The
 |      `join`-keyword works as in other methods.
 |
 |      >>> t = pd.Series(['d', 'a', 'e', 'c'], index=[3, 0, 4, 2])
 |      >>> s.str.cat(t, join='left', na_rep='-')
 |      0    aa
 |      1    b-
 |      2    -c
 |      3    dd
 |      dtype: object
 |      >>>
 |      >>> s.str.cat(t, join='outer', na_rep='-')
 |      0    aa
 |      1    b-
 |      2    -c
 |      3    dd
 |      4    -e
 |      dtype: object
 |      >>>
 |      >>> s.str.cat(t, join='inner', na_rep='-')
 |      0    aa
 |      2    -c
 |      3    dd
 |      dtype: object
 |      >>>
 |      >>> s.str.cat(t, join='right', na_rep='-')
 |      3    dd
 |      0    aa
 |      4    -e
 |      2    -c
 |      dtype: object
 |
 |      For more examples, see :ref:`here <text.concatenate>`.
 |
 |  center(self, width: 'int', fillchar: 'str' = ' ')
 |      Pad left and right side of strings in the Series/Index.
 |
 |      Equivalent to :meth:`str.center`.
 |
 |      Parameters
 |      ----------
 |      width : int
 |          Minimum width of resulting string; additional characters will be filled
 |          with ``fillchar``.
 |      fillchar : str
 |          Additional character for filling, default is whitespace.
 |
 |      Returns
 |      -------
 |      Series/Index of objects.
 |
 |      Examples
 |      --------
 |      For Series.str.center:
 |
 |      >>> ser = pd.Series(['dog', 'bird', 'mouse'])
 |      >>> ser.str.center(8, fillchar='.')
 |      0   ..dog...
 |      1   ..bird..
 |      2   .mouse..
 |      dtype: object
 |
 |      For Series.str.ljust:
 |
 |      >>> ser = pd.Series(['dog', 'bird', 'mouse'])
 |      >>> ser.str.ljust(8, fillchar='.')
 |      0   dog.....
 |      1   bird....
 |      2   mouse...
 |      dtype: object
 |
 |      For Series.str.rjust:
 |
 |      >>> ser = pd.Series(['dog', 'bird', 'mouse'])
 |      >>> ser.str.rjust(8, fillchar='.')
 |      0   .....dog
 |      1   ....bird
 |      2   ...mouse
 |      dtype: object
 |
 |  contains(self, pat, case: 'bool' = True, flags: 'int' = 0, na=None, regex: 'bool' = True)
 |      Test if pattern or regex is contained within a string of a Series or Index.
 |
 |      Return boolean Series or Index based on whether a given pattern or regex is
 |      contained within a string of a Series or Index.
 |
 |      Parameters
 |      ----------
 |      pat : str
 |          Character sequence or regular expression.
 |      case : bool, default True
 |          If True, case sensitive.
 |      flags : int, default 0 (no flags)
 |          Flags to pass through to the re module, e.g. re.IGNORECASE.
 |      na : scalar, optional
 |          Fill value for missing values. The default depends on dtype of the
 |          array. For object-dtype, ``numpy.nan`` is used. For ``StringDtype``,
 |          ``pandas.NA`` is used.
 |      regex : bool, default True
 |          If True, assumes the pat is a regular expression.
 |
 |          If False, treats the pat as a literal string.
 |
 |      Returns
 |      -------
 |      Series or Index of boolean values
 |          A Series or Index of boolean values indicating whether the
 |          given pattern is contained within the string of each element
 |          of the Series or Index.
 |
 |      See Also
 |      --------
 |      match : Analogous, but stricter, relying on re.match instead of re.search.
 |      Series.str.startswith : Test if the start of each string element matches a
 |          pattern.
 |      Series.str.endswith : Same as startswith, but tests the end of string.
 |
 |      Examples
 |      --------
 |      Returning a Series of booleans using only a literal pattern.
 |
 |      >>> s1 = pd.Series(['Mouse', 'dog', 'house and parrot', '23', np.nan])
 |      >>> s1.str.contains('og', regex=False)
 |      0    False
 |      1     True
 |      2    False
 |      3    False
 |      4      NaN
 |      dtype: object
 |
 |      Returning an Index of booleans using only a literal pattern.
 |
 |      >>> ind = pd.Index(['Mouse', 'dog', 'house and parrot', '23.0', np.nan])
 |      >>> ind.str.contains('23', regex=False)
 |      Index([False, False, False, True, nan], dtype='object')
 |
 |      Specifying case sensitivity using `case`.
 |
 |      >>> s1.str.contains('oG', case=True, regex=True)
 |      0    False
 |      1    False
 |      2    False
 |      3    False
 |      4      NaN
 |      dtype: object
 |
 |      Specifying `na` to be `False` instead of `NaN` replaces NaN values
 |      with `False`. If Series or Index does not contain NaN values
 |      the resultant dtype will be `bool`, otherwise, an `object` dtype.
 |
 |      >>> s1.str.contains('og', na=False, regex=True)
 |      0    False
 |      1     True
 |      2    False
 |      3    False
 |      4    False
 |      dtype: bool
 |
 |      Returning 'house' or 'dog' when either expression occurs in a string.
 |
 |      >>> s1.str.contains('house|dog', regex=True)
 |      0    False
 |      1     True
 |      2     True
 |      3    False
 |      4      NaN
 |      dtype: object
 |
 |      Ignoring case sensitivity using `flags` with regex.
 |
 |      >>> import re
 |      >>> s1.str.contains('PARROT', flags=re.IGNORECASE, regex=True)
 |      0    False
 |      1    False
 |      2     True
 |      3    False
 |      4      NaN
 |      dtype: object
 |
 |      Returning any digit using regular expression.
 |
 |      >>> s1.str.contains('\\d', regex=True)
 |      0    False
 |      1    False
 |      2    False
 |      3     True
 |      4      NaN
 |      dtype: object
 |
 |      Ensure `pat` is a not a literal pattern when `regex` is set to True.
 |      Note in the following example one might expect only `s2[1]` and `s2[3]` to
 |      return `True`. However, '.0' as a regex matches any character
 |      followed by a 0.
 |
 |      >>> s2 = pd.Series(['40', '40.0', '41', '41.0', '35'])
 |      >>> s2.str.contains('.0', regex=True)
 |      0     True
 |      1     True
 |      2    False
 |      3     True
 |      4    False
 |      dtype: bool
 |
 |  count(self, pat, flags: 'int' = 0)
 |      Count occurrences of pattern in each string of the Series/Index.
 |
 |      This function is used to count the number of times a particular regex
 |      pattern is repeated in each of the string elements of the
 |      :class:`~pandas.Series`.
 |
 |      Parameters
 |      ----------
 |      pat : str
 |          Valid regular expression.
 |      flags : int, default 0, meaning no flags
 |          Flags for the `re` module. For a complete list, `see here
 |          <https://docs.python.org/3/howto/regex.html#compilation-flags>`_.
 |      **kwargs
 |          For compatibility with other string methods. Not used.
 |
 |      Returns
 |      -------
 |      Series or Index
 |          Same type as the calling object containing the integer counts.
 |
 |      See Also
 |      --------
 |      re : Standard library module for regular expressions.
 |      str.count : Standard library version, without regular expression support.
 |
 |      Notes
 |      -----
 |      Some characters need to be escaped when passing in `pat`.
 |      eg. ``'$'`` has a special meaning in regex and must be escaped when
 |      finding this literal character.
 |
 |      Examples
 |      --------
 |      >>> s = pd.Series(['A', 'B', 'Aaba', 'Baca', np.nan, 'CABA', 'cat'])
 |      >>> s.str.count('a')
 |      0    0.0
 |      1    0.0
 |      2    2.0
 |      3    2.0
 |      4    NaN
 |      5    0.0
 |      6    1.0
 |      dtype: float64
 |
 |      Escape ``'$'`` to find the literal dollar sign.
 |
 |      >>> s = pd.Series(['$', 'B', 'Aab$', '$$ca', 'C$B$', 'cat'])
 |      >>> s.str.count('\\$')
 |      0    1
 |      1    0
 |      2    1
 |      3    2
 |      4    2
 |      5    0
 |      dtype: int64
 |
 |      This is also available on Index
 |
 |      >>> pd.Index(['A', 'A', 'Aaba', 'cat']).str.count('a')
 |      Index([0, 0, 2, 1], dtype='int64')
 |
 |  decode(self, encoding, errors: 'str' = 'strict')
 |      Decode character string in the Series/Index using indicated encoding.
 |
 |      Equivalent to :meth:`str.decode` in python2 and :meth:`bytes.decode` in
 |      python3.
 |
 |      Parameters
 |      ----------
 |      encoding : str
 |      errors : str, optional
 |
 |      Returns
 |      -------
 |      Series or Index
 |
 |      Examples
 |      --------
 |      For Series:
 |
 |      >>> ser = pd.Series([b'cow', b'123', b'()'])
 |      >>> ser.str.decode('ascii')
 |      0   cow
 |      1   123
 |      2   ()
 |      dtype: object
 |
 |  encode(self, encoding, errors: 'str' = 'strict')
 |      Encode character string in the Series/Index using indicated encoding.
 |
 |      Equivalent to :meth:`str.encode`.
 |
 |      Parameters
 |      ----------
 |      encoding : str
 |      errors : str, optional
 |
 |      Returns
 |      -------
 |      Series/Index of objects
 |
 |      Examples
 |      --------
 |      >>> ser = pd.Series(['cow', '123', '()'])
 |      >>> ser.str.encode(encoding='ascii')
 |      0     b'cow'
 |      1     b'123'
 |      2      b'()'
 |      dtype: object
 |
 |  endswith(self, pat: 'str | tuple[str, ...]', na: 'Scalar | None' = None) -> 'Series | Index'
 |      Test if the end of each string element matches a pattern.
 |
 |      Equivalent to :meth:`str.endswith`.
 |
 |      Parameters
 |      ----------
 |      pat : str or tuple[str, ...]
 |          Character sequence or tuple of strings. Regular expressions are not
 |          accepted.
 |      na : object, default NaN
 |          Object shown if element tested is not a string. The default depends
 |          on dtype of the array. For object-dtype, ``numpy.nan`` is used.
 |          For ``StringDtype``, ``pandas.NA`` is used.
 |
 |      Returns
 |      -------
 |      Series or Index of bool
 |          A Series of booleans indicating whether the given pattern matches
 |          the end of each string element.
 |
 |      See Also
 |      --------
 |      str.endswith : Python standard library string method.
 |      Series.str.startswith : Same as endswith, but tests the start of string.
 |      Series.str.contains : Tests if string element contains a pattern.
 |
 |      Examples
 |      --------
 |      >>> s = pd.Series(['bat', 'bear', 'caT', np.nan])
 |      >>> s
 |      0     bat
 |      1    bear
 |      2     caT
 |      3     NaN
 |      dtype: object
 |
 |      >>> s.str.endswith('t')
 |      0     True
 |      1    False
 |      2    False
 |      3      NaN
 |      dtype: object
 |
 |      >>> s.str.endswith(('t', 'T'))
 |      0     True
 |      1    False
 |      2     True
 |      3      NaN
 |      dtype: object
 |
 |      Specifying `na` to be `False` instead of `NaN`.
 |
 |      >>> s.str.endswith('t', na=False)
 |      0     True
 |      1    False
 |      2    False
 |      3    False
 |      dtype: bool
 |
 |  extract(self, pat: 'str', flags: 'int' = 0, expand: 'bool' = True) -> 'DataFrame | Series | Index'
 |      Extract capture groups in the regex `pat` as columns in a DataFrame.
 |
 |      For each subject string in the Series, extract groups from the
 |      first match of regular expression `pat`.
 |
 |      Parameters
 |      ----------
 |      pat : str

Según la ayuda, el **método str** sirve para asignar *"funciones vectorizadas de strings"* a la series y a sus índices.

Este método entonces nos va a permitir que podamos **usar métodos de strings que han sido adaptados para que funcionen con las series**.

In [152]:
filtro_2 = serie2.str.contains("m")

filtro_2

0    False
1     True
2     True
3    False
dtype: bool

In [154]:
serie2[filtro_2]

1    manzana
2      melon
dtype: object

## Agregación de Series

Ahora vamos a aprender sobre las agregaciones en Pandas. La agregación consiste en un conjunto de herramientas poderosas para **resumir nuestros datos**.

Básicamente una agregación es una **operación que combina varios valores de datos en un solo valor representativo**, como un promedio o una suma total.

Veremos las agregaciones más comunes utilizando una serie básica.

In [1]:
import pandas as pd

In [3]:
numeros = pd.Series([10, 20, 30, 40, 50])
numeros

0    10
1    20
2    30
3    40
4    50
dtype: int64

### Promedio - mean()

In [5]:
promedio = numeros.mean()
promedio

30.0

### Suma - sum()

In [7]:
suma = numeros.sum()
suma

150

### Máximo - max()

In [10]:
maximo = numeros.max()
maximo

50

### Mínimo - min()

In [13]:
minimo = numeros.min()
minimo

10

Pandas también ofrece otros métodos de agregación como `.median()`, `.std()`, y `.quantile()` que pueden ser igualmente útiles.

Las agregaciones son fundamentales para el análisis de datos, ya que nos permiten obtener información resumida y descriptiva de nuestros conjuntos de datos.