# Trabajo Práctico: Análisis Exploratorio de Datos (EDA)

## Descripción:
Pertenecen a un equipo de analistas de datos de una tienda en línea. Su objetivo es realizar un Análisis Exploratorio de Datos (EDA) para identificar patrones de compra, analizar las ventas y extraer insights valiosos para la empresa.

## Dataset: 
**Online Retail II**

## Objetivos:
* Limpiar y preprocesar el dataset.
* Obtener estadísticas descriptivas y analizar las mismas.
* Visualizar patrones de ventas temporales y comportamiento de los clientes.
* Extraer conclusiones (insights) del análisis.
* Presentar las conclusiones extraídas con el objetivo de potenciar las ventas de la empresa.

## Consejos: 
* Comenzar efectuando un resumen del dataset y de sus características (para entenderlo antes de comenzar a trabajar con él).
* Utilizar los procedimientos vistos en clase y otros que pueden agregar ustedes.
* Esto es un bosquejo de lo que como mínimo deben hacer, pudiendo explayarse todo lo que consideren conveniente:

    * Preprocesamiento de Datos:
        * Revisar valores faltantes.
        * Limpiar o Tratar datos con valores nulos o inconsistentes (tener en cuenta filas con cantidad negativa y a qué se deben).
        * Transformar columnas necesarias (en caso de considerarlo conveniente, por ejemplo convertir 'InvoiceDate' a formato *string* si desean trabajarlo así o mantenerlo en formato *datetime*, dicha decisión queda a criterio del grupo).
        * Crear nuevas columnas útiles para el análisis, como 'TotalPrice'.
        * Efectuar las agrupaciones necesarias según el análisis que deban hacer, por ejemplo: por clientes (pueden analizar gastos promedios por cliente), por país (pueden comparar el gasto promedio por país o identificar qué productos son más populares en determinados países), etc.
    * Obtener estadísticas descriptivas y analizar las mismas:
        * Obtener un Resumen Estadístico Básico y extraer conclusiones (todas las conclusiones deben estar escritas en el cuaderno Jupyter).
        * Revisar si hay valores extremos u outliers en el dataset y decidir si deben ser tratados o no.
        * Relación entre las Variables (como la correlación para analizar las relaciones entre las diferentes variables numéricas del dataset, por ejemplo, pueden ver cómo se correlaciona 'TotalPrice' con 'Quantity').
    * Visualización de Datos:
        * Libertad para trabajar con cualquier librería de visualización: Matplotlib, Pandas, Seaborn, Plotly.
        * Mantener la coherencia entre los distintos gráficos y la librería utilizada (es decir, centrarse en una sola librería).
        * Mantener también la consistencia entre la personalización y el estilo aplicado a los gráficos.
        * En las visualizaciones deben destacarse las conclusiones o insights a los que se hayan arribado.
        * Trabajar con el canvas, grid, títulos, ticks, estilos de texto, anotaciones, leyenda y subplots (todo aquello visto en clase). No entregar gráficos sin haber hecho un trabajo de personalización.
        * Algunos gráficos que pueden efectuar (entre otros, dependerá del análisis de cada grupo y lo que deseen resaltar):
            * Gráfico de ventas por fecha (ya sea por día, semana o mes, a criterio del grupo).
            * Gráfico de productos más vendidos.
            * Distribución de las compras por cliente (analizar los TOP que más venden y compararlos, también analizar los que menos venden).
            * Distribución de las compras por país o región (analizando la cantidad o proporción del total de las ventas por país).
    * Conclusiones: Con base en las visualizaciones y el análisis realizado (esto dependerá fundamentalmente de su propio análisis), **conectar los resultados con las decisiones comerciales** (por ejemplo cómo la empresa podría optimizar sus campañas de marketing), respondiendo algunas preguntas:
        * ¿Cuáles son los productos más vendidos?
        * ¿Qué días, semanas o meses tuvieron mayores ventas?. ¿Hay patrones estacionales?
        * ¿Cuál es el comportamiento de las compras por cliente?
        * ¿Cuál es la distribución geográfica de las ventas?. ¿Qué países generan más ingresos?
    
     
## Deberán presentar:
* Cuaderno de Jupyter con celdas de código y markdown explicando detalladamente el análisis realizado, las decisiones tomadas y las conclusiones a las que han llegado en cada etapa del trabajo.
* Gráficos o visualizaciones con los insights obtenidos a fin de explicar los mismos (los mismos se utilizarán posteriormente a efectos de exponerlos como si lo tuviesen que hacer ante los directivos de la empresa). Tener en cuenta la utilización de algún recurso extra para la presentación de los gráficos (Power Point, PDF, etc) y consistencia del mismo (que tenga el mismo estilo y no sea uno distinto al exponer cada alumno del mismo grupo).

## Grupos:
* Serán 2 grupos de 5 integrantes, 3 grupos de 4 integrantes y 1 grupo de 3 integrantes.
* Entrega del trabajo realizado: A determinar.
* Exposición del trabajo realizado (16 y 23 de Junio) - 45 minutos por grupo (aprox 10 minutos por alumno).

## Se evaluará:  
* Aplicación de los procedimientos vistos en clase relacionados con el análisis exploratorio, la obtención de estadísticas descriptivas, como con las visualizaciones presentadas.
* Fundamentación de las decisiones tomadas y del porqué del análisis efectuado.
* Iniciativa, creatividad e ingenio para lograr resultados novedosos.

### Instalamos las dependencias necesarias (estamos trabajando en Jupyter Lab)

In [3]:
%pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/python/3.12.1/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/python/3.12.1/lib/python3.12/site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

### Al abrir el excel notamos que tiene dos hojas, por lo que vamos a abrir ambas

In [4]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

df_1 = pd.read_excel('online_retail_II.xlsx', sheet_name = 0)
df_2 = pd.read_excel('online_retail_II.xlsx', sheet_name = 1)

print(df_1)
print(df_2)

       Invoice StockCode                          Description  Quantity  \
0       489434     85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS        12
1       489434    79323P                   PINK CHERRY LIGHTS        12
2       489434    79323W                  WHITE CHERRY LIGHTS        12
3       489434     22041         RECORD FRAME 7" SINGLE SIZE         48
4       489434     21232       STRAWBERRY CERAMIC TRINKET BOX        24
...        ...       ...                                  ...       ...
525456  538171     22271                 FELTCRAFT DOLL ROSIE         2
525457  538171     22750         FELTCRAFT PRINCESS LOLA DOLL         1
525458  538171     22751       FELTCRAFT PRINCESS OLIVIA DOLL         1
525459  538171     20970   PINK FLORAL FELTCRAFT SHOULDER BAG         2
525460  538171     21931               JUMBO STORAGE BAG SUKI         2

               InvoiceDate  Price  Customer ID         Country
0      2009-12-01 07:45:00   6.95      13085.0  United Kingdom
1      2009-12-01 07:45:00   6.75      13085.0  United Kingdom
2      2009-12-01 07:45:00   6.75      13085.0  United Kingdom
3      2009-12-01 07:45:00   2.10      13085.0  United Kingdom
4      2009-12-01 07:45:00   1.25      13085.0  United Kingdom
...                    ...    ...          ...             ...
525456 2010-12-09 20:01:00   2.95      17530.0  United Kingdom
525457 2010-12-09 20:01:00   3.75      17530.0  United Kingdom
525458 2010-12-09 20:01:00   3.75      17530.0  United Kingdom
525459 2010-12-09 20:01:00   3.75      17530.0  United Kingdom
525460 2010-12-09 20:01:00   1.95      17530.0  United Kingdom

[525461 rows x 8 columns]
       Invoice StockCode                          Description  Quantity  \
0       536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1       536365     71053                  WHITE METAL LANTERN         6
2       536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3       536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4       536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...        ...       ...                                  ...       ...
541905  581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906  581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907  581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908  581587     22138        BAKING SET 9 PIECE RETROSPOT          3
541909  581587      POST                              POSTAGE         1

               InvoiceDate  Price  Customer ID         Country
0      2010-12-01 08:26:00   2.55      17850.0  United Kingdom
1      2010-12-01 08:26:00   3.39      17850.0  United Kingdom
2      2010-12-01 08:26:00   2.75      17850.0  United Kingdom
3      2010-12-01 08:26:00   3.39      17850.0  United Kingdom
4      2010-12-01 08:26:00   3.39      17850.0  United Kingdom
...                    ...    ...          ...             ...
541905 2011-12-09 12:50:00   2.10      12680.0          France
541906 2011-12-09 12:50:00   4.15      12680.0          France
541907 2011-12-09 12:50:00   4.15      12680.0          France
541908 2011-12-09 12:50:00   4.95      12680.0          France
541909 2011-12-09 12:50:00  18.00      12680.0          France

[541910 rows x 8 columns]

### Notamos que las columnas son las mismas, pero que cambian las fechas. Vamos a concatenar las filas en un solo df y chequear que no haya registros duplicados.

In [5]:
df = pd.concat([df_1, df_2], ignore_index=True)

print("El tamaño del df antes de eliminar duplicados es: " + str(df.shape))

df = df.drop_duplicates()

print("El tamaño del df después de eliminar duplicados es: " + str(df.shape))

El tamaño del df antes de eliminar duplicados es: (1067371, 8)

El tamaño del df después de eliminar duplicados es: (1033036, 8)

### Cómo hay menos filas después de haber eliminado los registros duplicados que antes de hacerlo, eso significa que había registros duplicados.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1033036 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1033036 non-null  object
 1   StockCode    1033036 non-null  object
 2   Description  1028761 non-null  object
 3   Quantity     1033036 non-null  int64
 4   InvoiceDate  1033036 non-null  datetime64[ns]
 5   Price        1033036 non-null  float64
 6   Customer ID  797885 non-null   float64
 7   Country      1033036 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 70.9+ MB

### Vemos que hay valores nulos en las columnas "Description" y "Customer ID".

In [7]:
print(df['Description'].isna().sum())

4275

In [8]:
4275 + 1028761

1033036

In [9]:
df['Invoice'].nunique()

53628

### Tenemos 53628 facturas

In [10]:
df['Customer ID'].nunique()

5942

### Hay 5942 clientes

In [11]:
promedio_facturas_por_cliente = df.groupby('Customer ID')['Invoice'].nunique().mean()

print("El promedio de facturas por cliente es: " + str(promedio_facturas_por_cliente))

El promedio de facturas por cliente es: 7.552339279703803

In [12]:
df = df.sort_values('InvoiceDate')

print("La primera fecha del dataset es: ")
print(df['InvoiceDate'][0])

print("La última fecha del dataset es: ")
print(df['InvoiceDate'].iloc[-1])

La primera fecha del dataset es:
2009-12-01 07:45:00
La última fecha del dataset es:
2011-12-09 12:50:00

In [19]:
df['YearMonth'] = df['InvoiceDate'].dt.to_period('M')

ventas_por_mes = df.groupby('YearMonth')['Invoice'].nunique()

print("Cantidad de facturas por mes:")
print(ventas_por_mes)

Cantidad de facturas por mes:
YearMonth
2009-12    2330
2010-01    1633
2010-02    1969
2010-03    2367
2010-04    1892
2010-05    2418
2010-06    2216
2010-07    2017
2010-08    1877
2010-09    2375
2010-10    2965
2010-11    3669
2010-12    2025
2011-01    1476
2011-02    1393
2011-03    1983
2011-04    1744
2011-05    2162
2011-06    2012
2011-07    1927
2011-08    1737
2011-09    2327
2011-10    2637
2011-11    3462
2011-12    1015
Freq: M, Name: Invoice, dtype: int64

### Notamos que el dataset tiene ventas en un rango temporal de 2 años y 9 días.

In [20]:
df['StockCode'].nunique()

5305

In [21]:
df['Description'].nunique()

5698